Repository gardener/gardener-extension-provider-azure, pull requests merged in 2020-07, with the labels that each got.

#126 Workaround the helm install issue
  Makefile
  hack/install-requirements.sh
Labels: needs/ok-to-test, platform/azure, priority/normal

#120 Add Azure remedy controller to the controlplane extension
  charts/gardener-extension-provider-azure/templates/crd-publicipaddress.yaml
  charts/gardener-extension-provider-azure/templates/crd-virtualmachine.yaml
  charts/images.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/Chart.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/configmap.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/role.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/rolebinding.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/serviceaccount.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/values.yaml
  charts/internal/seed-controlplane/requirements.yaml
  charts/internal/seed-controlplane/values.yaml
  charts/internal/shoot-system-components/charts/remedy-controller-azure/Chart.yaml
  charts/internal/shoot-system-components/charts/remedy-controller-azure/templates/_helpers.tpl
  charts/internal/shoot-system-components/charts/remedy-controller-azure/templates/clusterrole.yaml
  charts/internal/shoot-system-components/charts/remedy-controller-azure/templates/clusterrolebinding.yaml
  charts/internal/shoot-system-components/requirements.yaml
  charts/internal/shoot-system-components/values.yaml
  example/controller-registration.yaml
  pkg/azure/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#127 Add Azure remedy controller metrics configuration
  charts/images.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/rc-monitoring-dashboard.json
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/configmap-monitoring.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/service.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/values.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#128 Fix shoot deletion issue by adding the ignore annotation to allow-udp-egress
  charts/images.yaml
  charts/internal/shoot-system-components/charts/allow-udp-egress/templates/allow-udp-egress.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/azure, priority/normal

#129 Storage Service Accounts do not allow blob public access
  go.mod
  go.sum
  pkg/azure/client/storage.go
  vendor/github.com/Azure/azure-sdk-for-go/LICENSE
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-05-01/resources/deploymentoperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-05-01/resources/deployments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-05-01/resources/groups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-05-01/resources/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-05-01/resources/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-05-01/resources/providers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-05-01/resources/resources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-05-01/resources/tags.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-05-01/resources/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/blobcontainers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/blobservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/fileservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/fileshares.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/managementpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/skus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/usages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/version.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/github.com/Azure/go-autorest/autorest/adal/token.go
  vendor/github.com/Azure/go-autorest/autorest/authorization.go
  vendor/github.com/Azure/go-autorest/autorest/authorization_storage.go
  vendor/github.com/Azure/go-autorest/autorest/azure/async.go
  vendor/github.com/Azure/go-autorest/autorest/azure/environments.go
  vendor/github.com/Azure/go-autorest/autorest/client.go
  vendor/github.com/Azure/go-autorest/autorest/go.mod
  vendor/github.com/Azure/go-autorest/autorest/go.sum
  vendor/github.com/Azure/go-autorest/autorest/sender.go
  vendor/github.com/Azure/go-autorest/autorest/utility.go
  vendor/github.com/Azure/go-autorest/autorest/version.go
  vendor/modules.txt
Labels: area/security, area/storage, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#130 [ci:component:github.com/gardener/machine-controller-manager:v0.31.0->v0.32.0]
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm

#131 Be pessimistic about legacy cm deletion
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#132 Revert "Workaround the helm install issue"
  Makefile
  hack/install-requirements.sh
Labels: kind/cleanup, needs/ok-to-test, platform/azure, priority/normal

#133 StorageClasses now allow volume expansion
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses_legacy.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#137 Upgrade github.com/gardener/cloud-provider-azure
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm
