Repository gardener/gardener-extension-provider-azure, pull requests merged in 2020-12, with the labels that each got.

#207 Fix release test run
  .ci/test-integration.sh
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, needs/review, platform/azure, priority/normal, size/xs

#208 Cherry-pick fix for release test runs
  .ci/test-integration.sh
Labels: needs/review, reviewed/ok-to-test, size/xs

#206 Worker/update credentials for all deployments
  .github/pull_request_template.md
  go.mod
  go.sum
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_migrate.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/controller/infrastructure/actuator_restore.go
  pkg/controller/worker/machine_controller_manager.go
  pkg/internal/infrastructure/terraform.go
  pkg/internal/terraform.go
  test/e2e/networkpolicies/networkpolicy_test.go
  vendor/github.com/gardener/gardener/.github/pull_request_template.md
  vendor/github.com/gardener/gardener/extensions/pkg/controller/infrastructure/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_delete.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/interface.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/config.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/errors.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/state.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/terraformer.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/types.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/waiter.go
  vendor/github.com/gardener/gardener/extensions/test/e2e/framework/networkpolicies/agnostic.go
  vendor/github.com/gardener/gardener/hack/.ci/set_dependency_version
  vendor/github.com/gardener/gardener/pkg/operation/botanist/addons.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/botanist.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/cleanup.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/interfaces.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/containerruntime.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/clusterautoscaler/bootstrap.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/clusterautoscaler/cluster_autoscaler.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/etcd/bootstrap.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/etcd/etcd.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/containerruntime/containerruntime.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/controlplane/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/infrastructure/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/health_check.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/systemcomponents/metricsserver/metrics_server.go
  vendor/github.com/gardener/gardener/pkg/operation/common/extensions.go
  vendor/github.com/gardener/gardener/pkg/operation/garden/garden.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/operation/shoot/types.go
  vendor/github.com/gardener/gardener/pkg/operation/types.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/health/health.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/patch.go
  vendor/github.com/gardener/gardener/test/framework/common.go
  vendor/github.com/gardener/gardener/test/framework/dump.go
  vendor/github.com/gardener/gardener/test/framework/shoot_utils.go
  vendor/github.com/gardener/gardener/test/framework/shootframework.go
  vendor/modules.txt
Labels: needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/m

#209 Fix flag name for gen-provider-azure TestDefinition
  .test-defs/provider-azure.yaml
  test/tm/generator.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#204 Remove deprecated role label key from components
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/deployment.yaml
Labels: kind/cleanup, needs/ok-to-test, needs/review, platform/azure, priority/normal, size/xs

#211 Fix infra valdation for zoned updates
  pkg/apis/azure/validation/infrastructure.go
  pkg/apis/azure/validation/infrastructure_test.go
Labels: area/open-source, kind/api-change, kind/bug, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/s

#213 Fix: Terraforrm destroy after azurerm v2 upgrade
  .ci/testruns/default/templates/testrun.yaml
  pkg/controller/infrastructure/actuator_delete.go
Labels: area/open-source, kind/bug, kind/test, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/xs

#214 [release-v1.15] Update tf config on Infrastructure deletion
  .ci/testruns/default/templates/testrun.yaml
  pkg/controller/infrastructure/actuator_delete.go
Labels: kind/bug, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/xs

#210 Validation: Allow to resize the vnet cidr
  pkg/apis/azure/validation/infrastructure.go
  pkg/apis/azure/validation/infrastructure_test.go
  pkg/validator/shoot_validator.go
Labels: area/open-source, kind/api-change, kind/bug, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/m

#215 Postpone CSI migration to Kubernetes v1.21
  docs/usage-as-end-user.md
  pkg/azure/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/csimigration/add.go
  pkg/controller/healthcheck/add.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/m

#219 Terraformer v2
  charts/images.yaml
  pkg/internal/terraform.go
Labels: area/quality, area/robustness, kind/enhancement, kind/test, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/xs

#220 Update remedy controller version
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/xs

#221 [release-v1.15] Update remedy controller version
  charts/images.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/xs

#222 [release-v1.14] Update remedy controller version
  charts/images.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, platform/azure, priority/normal, size/xs

#224 Fix deleting controlplane with purpose exposure
  pkg/controller/controlplane/actuator.go
  pkg/controller/controlplane/actuator_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/azure, priority/critical, reviewed/lgtm, size/s

#225 [release-v1.15] Fix deleting controlplane with purpose exposure
  pkg/controller/controlplane/actuator.go
  pkg/controller/controlplane/actuator_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/azure, priority/critical, reviewed/lgtm, size/s

#226 [release-v1.15] Mitigate incorrect sigterm behaviour with Terraformer v2
  charts/images.yaml
  pkg/internal/terraform.go
Labels: area/open-source, kind/regression, needs/ok-to-test, platform/azure, priority/critical, reviewed/lgtm, size/xs

#227 Vendor gardener/gardener@v1.14.0
  go.mod
  go.sum
  pkg/webhook/controlplane/ensurer.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/shoot.go
  vendor/github.com/gardener/gardener/pkg/logger/logger.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/addons.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/botanist.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/etcd/bootstrap.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/infrastructure/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/garbage_collection.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/health_check.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/namespaces.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/secrets.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/seedsystemcomponents/seedadmission/logging.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/seedsystemcomponents/seedadmission/seedadmission.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/systemcomponents/namespaces/namespaces.go
  vendor/github.com/gardener/gardener/pkg/operation/common/managedresources.go
  vendor/github.com/gardener/gardener/pkg/operation/common/types.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/istio/crds.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/operation/shoot/types.go
  vendor/github.com/gardener/gardener/pkg/utils/timewindow.go
  vendor/github.com/gardener/gardener/test/framework/shoot_utils.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/xs

#229 Update kubernetes-csi/external-snapshotter to v2.1.3
  charts/images.yaml
Labels: area/storage, needs/ok-to-test, platform/azure, reviewed/lgtm, size/xs

#231 Vendor gardener/gardener@f6b4e24
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/backupentry/mapper.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cmd/factory.go
  vendor/github.com/gardener/gardener/hack/install-requirements.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/errors.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/etcd/logging.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/namespaces.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/seedsystemcomponents/seedadmission/logging.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/graph.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/bootstrap_token.go
  vendor/github.com/gardener/gardener/test/framework/common.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/xs
