Repository gardener/gardener-extension-provider-azure, pull requests merged in 2020-09, with the labels that each got.

#158 Cleanup make test
  Makefile
Labels: kind/cleanup, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#157 Support for Kubernetes 1.19
  README.md
  charts/images.yaml
Labels: area/open-source, area/usability, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#159 Change volumeBindingMode to WaitForFirstConsumer
  charts/internal/shoot-storageclasses/templates/storageclasses_legacy.yaml
Labels: area/storage, kind/task, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#160 Updated RBAC to allow node/status update by MCM
  charts/internal/machine-controller-manager/shoot/templates/clusterrole-machine-controller-manager.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#161 Prepare upgrade to Terraform azurerm v2.x.x
  charts/internal/azure-infra/templates/main.tf
Labels: kind/impediment, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#164 Webhook ensurer does not remove or add /etc/ssl directory for kube apiserver deployments
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#165 Update kubernetes-sigs/azuredisk-csi-driver to v0.9.0
  README.md
  charts/images.yaml
Labels: area/storage, kind/task, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#171 Vendor gardener/gardener@v1.10.2
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/predicate.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/state_actuator.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/admissionplugins.go
  vendor/github.com/gardener/gardener/pkg/controllerutils/miscellaneous.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/types.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/operation.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/types.go
  vendor/github.com/gardener/gardener/pkg/operation/types.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/flow.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/progress_reporter.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/progress_reporter_delaying.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/progress_reporter_immediate.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/health/health.go
  vendor/modules.txt
Labels: area/scalability, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#170 add minAllowed for machine-controller-manager-vpa
  charts/internal/machine-controller-manager/seed/templates/vpa.yaml
Labels: area/auto-scaling, area/control-plane, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#167 Add additional mounts to CCM
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm
