Repository gardener/gardener-extension-provider-azure, pull requests merged in 2020-11, with the labels that each got.

#185 Revendor gardener v1.12.3
  .test-defs/infrastructure-test.yaml
  Dockerfile
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/config.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/terraformer.go
  vendor/github.com/gardener/gardener/extensions/pkg/terraformer/types.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/helper/shootstate_list.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/errors.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/controllerutils/miscellaneous.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/addons.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/botanist.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/clusterautoscaler/cluster_autoscaler.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/kube_controller_manager.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/logging.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/monitoring.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/monitoring_alertingrules.test.yaml
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/shoot_resources.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubecontrollermanager/waiter.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kubescheduler/kube_scheduler.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/monitoring.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/secrets.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/waiter.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/wanted_secrets.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/operation/shoot/types.go
  vendor/github.com/gardener/gardener/pkg/operation/shootsecrets/secrets_manager.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/taskfn.go
  vendor/modules.txt
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/xs

#187 Clean up the deletion of legacy cloud provider ConfigMaps
  pkg/azure/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: kind/cleanup, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/m

#186 Introduce Azure client factory and refactor backup controllers
  pkg/azure/client/factory.go
  pkg/azure/client/group.go
  pkg/azure/client/storage.go
  pkg/azure/client/storageaccount.go
  pkg/azure/client/types.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupbucket/backupbucket.go
  pkg/controller/backupbucket/secret.go
  pkg/controller/backupentry/actuator.go
  pkg/internal/auth.go
  pkg/internal/auth_test.go
  pkg/internal/utils.go
  pkg/internal/utils_test.go
Labels: area/open-source, kind/cleanup, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/xl

#188 Fix "make test" on macOS
  go.mod
  go.sum
  vendor/github.com/gobuffalo/packr/v2/SHOULDERS.md
  vendor/github.com/gobuffalo/packr/v2/go.mod
  vendor/github.com/gobuffalo/packr/v2/go.sum
  vendor/github.com/gobuffalo/packr/v2/version.go
  vendor/github.com/karrick/godirwalk/bench.sh
  vendor/github.com/karrick/godirwalk/readdir_unix.go
  vendor/github.com/karrick/godirwalk/scandir_unix.go
  vendor/modules.txt
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/xs

#189 Changing the default parameters handling and adding all properties to the test definition
  .test-defs/provider-azure.yaml
  test/tm/generator.go
Labels: kind/enhancement, needs/ok-to-test, platform/azure, platform/gcp, priority/normal, reviewed/lgtm, size/s

#191 Error wrapping for UpdateMachineImagesStatus function
  pkg/controller/worker/machine_images.go
Labels: area/logging, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/xs

#194 Add documentation regarding rate limits
  docs/usage-as-end-user.md
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#192 Upgrade TF azurerm v2 and NatGateway pubIP migration
  charts/images.yaml
  charts/internal/azure-infra/templates/main.tf
  charts/internal/azure-infra/values.yaml
  hack/api-reference/api.md
  pkg/apis/azure/types_infrastructure.go
  pkg/apis/azure/v1alpha1/types_infrastructure.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/controller/infrastructure/actuator.go
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
  pkg/internal/terraform.go
Labels: area/open-source, kind/api-change, kind/technical-debt, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/m

#199 Prepare Next Dev Cycle v1.14.1-dev
  VERSION
  example/controller-registration.yaml
Labels: area/delivery, kind/impediment, needs/ok-to-test, platform/aws, priority/normal, size/xs

#200 Bumped MCM version from 0.34.3 to 0.34.4
  charts/images.yaml
Labels: area/dev-productivity, kind/regression, needs/ok-to-test, platform/aws, priority/critical, reviewed/lgtm, size/xs

#202 Run infra integration test on release
  .ci/pipeline_definitions
  .ci/test-integration.sh
  .ci/testruns/default/Chart.yaml
  .ci/testruns/default/templates/default.yaml
  .ci/tm-config.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, platform/azure, priority/normal, size/s

#203 Add health check for remedy-controller
  pkg/azure/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/healthcheck/add.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#205 update golang image to eu.gcr.io mirror
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-azure.yaml
  Dockerfile
Labels: area/dev-productivity, kind/technical-debt, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/xs
