Repository gardener/gardener-extension-provider-azure, pull requests merged in 2020-08, with the labels that each got.

#142 Postpone switch to CSI drivers to 1.20
  docs/usage-as-end-user.md
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/csimigration/add.go
  pkg/controller/healthcheck/add.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#140 Update kubernetes-sigs/azurefile-csi-driver to v0.8.0
  Dockerfile
  charts/images.yaml
Labels: area/storage, kind/task, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#124 Adapt the extension to Loki
  charts/gardener-extension-provider-azure/templates/configmap-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, needs/ok-to-test, platform/azure, priority/normal

#143 Change default webhook server port to 10250
  charts/gardener-extension-provider-azure/values.yaml
  charts/gardener-extension-validator-azure/values.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#138 Ensure remedy controller resources have been deleted
  charts/gardener-extension-provider-azure/templates/rbac.yaml
  cmd/gardener-extension-provider-azure/app/app.go
  example/controller-registration.yaml
  go.mod
  go.sum
  pkg/controller/controlplane/actuator.go
  pkg/controller/controlplane/actuator_test.go
  pkg/controller/controlplane/add.go
  vendor/github.com/gardener/gardener/pkg/mock/gardener/extensions/controller/controlplane/doc.go
  vendor/github.com/gardener/gardener/pkg/mock/gardener/extensions/controller/controlplane/mocks.go
  vendor/github.com/gardener/remedy-controller/LICENSE.md
  vendor/github.com/gardener/remedy-controller/NOTICE.md
  vendor/github.com/gardener/remedy-controller/pkg/apis/azure/doc.go
  vendor/github.com/gardener/remedy-controller/pkg/apis/azure/register.go
  vendor/github.com/gardener/remedy-controller/pkg/apis/azure/types_common.go
  vendor/github.com/gardener/remedy-controller/pkg/apis/azure/types_publicipaddress.go
  vendor/github.com/gardener/remedy-controller/pkg/apis/azure/types_virtualmachine.go
  vendor/github.com/gardener/remedy-controller/pkg/apis/azure/v1alpha1/doc.go
  vendor/github.com/gardener/remedy-controller/pkg/apis/azure/v1alpha1/register.go
  vendor/github.com/gardener/remedy-controller/pkg/apis/azure/v1alpha1/types_common.go
  vendor/github.com/gardener/remedy-controller/pkg/apis/azure/v1alpha1/types_publicipaddress.go
  vendor/github.com/gardener/remedy-controller/pkg/apis/azure/v1alpha1/types_virtualmachine.go
  vendor/github.com/gardener/remedy-controller/pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/remedy-controller/pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/remedy-controller/pkg/apis/azure/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/remedy-controller/pkg/apis/azure/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/rebase, platform/azure, priority/normal

#144 Populate worker-configuration in machine deployment
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#146 Update kubernetes-sigs/azuredisk-csi-driver to v0.8.0
  charts/images.yaml
Labels: area/storage, kind/task, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#147 Add PDB for validation server
  charts/gardener-extension-validator-azure/charts/runtime/templates/poddisruptionbudget.yaml
Labels: area/high-availability, area/robustness, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#148 Add namespaces/finalizers to extension RBAC role
  charts/gardener-extension-provider-azure/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#149 Recreate storage classes if update is failing
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses_legacy.yaml
Labels: area/ops-productivity, area/robustness, area/storage, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, topology/shoot

#150 Azure NAT Gateway timeout configuration
  charts/internal/azure-infra/templates/main.tf
  charts/internal/azure-infra/values.yaml
  docs/usage-as-end-user.md
  hack/api-reference/api.md
  pkg/apis/azure/types_infrastructure.go
  pkg/apis/azure/v1alpha1/types_infrastructure.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/validation/infrastructure.go
  pkg/apis/azure/validation/infrastructure_test.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#151 Enable remedy controller by default
  charts/internal/seed-controlplane/values.yaml
  charts/internal/shoot-system-components/values.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm

#152 Vendor gardener/gardener@v1.9.0
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/healtcheck_actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/helper/helpers.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/utils.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/errors.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/controllerregistration.go
  vendor/github.com/gardener/gardener/pkg/apis/core/validation/shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/types.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/addons.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/controlplane/kube_apiserver_service.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/dns/dnsentry.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/dns/dnsprovider.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/infrastructure/infrastructure.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/extensions/network/network.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/health_check.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/monitoring.go
  vendor/github.com/gardener/gardener/pkg/operation/common/extensions.go
  vendor/github.com/gardener/gardener/pkg/operation/common/types.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/operation/seed/seed.go
  vendor/github.com/gardener/gardener/pkg/operation/shootsecrets/secrets_manager.go
  vendor/github.com/gardener/gardener/pkg/scheduler/controller/shoot/scheduler_control.go
  vendor/github.com/gardener/gardener/pkg/utils/infodata/infodata.go
  vendor/github.com/gardener/gardener/pkg/utils/infodata/types.go
  vendor/github.com/gardener/gardener/pkg/utils/random.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/control_plane.go
  vendor/github.com/gardener/gardener/test/framework/cleanup.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal

#153 Add infrastructure permissions docs
  docs/usage-as-end-user.md
  docs/usage-as-operator.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, status/author-action
