Repository gardener/gardener-extension-provider-azure, pull requests merged in 2021-09, with the labels that each got.

#366 FIX csi driver update for VMSS Flex
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/_deployment.tpl
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/storage, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#372 Make the linter fail on missing or wrong doc comments
  .golangci.yaml
  pkg/admission/validator/webhook.go
  pkg/apis/config/loader/loader.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/dnsrecord/actuator.go
  test/integration/infrastructure/matchers.go
  test/tm/generator.go
Labels: area/dev-productivity, area/quality, kind/enhancement, needs/ok-to-test, needs/review, reviewed/lgtm, size/s, platform/azure

#377 Nit: Clean up SKIP_FETCH_TOOLS=1 from Makefile
  Makefile
Labels: needs/ok-to-test, reviewed/lgtm, size/xs
