Repository gardener/gardener-extension-provider-azure, pull requests merged in 2021-03, with the labels that each got.

#260 Add controlplane label to csi-driver-controller-{disk,file}
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/_deployment.tpl
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#261 Update usage-as-end-user.md
  docs/usage-as-end-user.md
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#262 Use Terraform variables for credentials
  charts/internal/azure-infra/templates/main.tf
  charts/internal/azure-infra/templates/variables.tf
  charts/internal/azure-infra/values.yaml
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_reconcile.go
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
  pkg/internal/terraform.go
  pkg/internal/terraform_test.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, platform/azure, reviewed/lgtm, size/m

#264 Upgrade github.com/gardener/cloud-provider-azure
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#258 add minAllow for VPA of provider-azure extension itself
  charts/gardener-extension-provider-azure/values.yaml
  example/controller-registration.yaml
Labels: area/auto-scaling, area/control-plane, area/robustness, kind/enhancement, needs/ok-to-test, platform/azure, reviewed/lgtm, size/xs

#266 Use separate ManagedResource for ControlPlane CRDs
  charts/internal/shoot-crds/Chart.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/Chart.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  charts/internal/shoot-crds/requirements.yaml
  charts/internal/shoot-crds/values.yaml
  pkg/controller/controlplane/add.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/healthcheck/add.go
Labels: kind/enhancement, needs/ok-to-test, platform/azure, reviewed/lgtm, size/s

#269 Clean up the deletion of legacy monitoring ConfigMap
  pkg/controller/controlplane/clean_old_resources.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#271 Deserialize custom resources with EnableStrict
  pkg/admission/validator/cloudprofile.go
  pkg/admission/validator/shoot.go
  pkg/apis/azure/helper/scheme.go
  pkg/controller/worker/utils_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/azure, priority/3, reviewed/lgtm, size/xs
