Repository gardener/gardener-extension-provider-azure, pull requests merged in 2021-06, with the labels that each got.

#318 Update kubernetes-csi/livenessprobe
  charts/images.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#319 Update remedy controller version
  charts/images.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/configmap.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/values.yaml
Labels: area/control-plane, kind/bug, kind/test, needs/ok-to-test, platform/azure, reviewed/lgtm, size/xs

#322 Add support for nodeless dev setup in dev-setup-admission-azure.sh
  example/40-validatingwebhookconfiguration.yaml
  hack/dev-setup-admission-azure.sh
Labels: area/dev-productivity, kind/enhancement, merge/squash, needs/ok-to-test, platform/azure, reviewed/lgtm, size/s

#321 Enhance validation of cloud provider secrets
  pkg/apis/azure/validation/secrets.go
  pkg/apis/azure/validation/secrets_test.go
Labels: area/ops-productivity, area/usability, kind/enhancement, merge/squash, needs/ok-to-test, platform/azure, reviewed/lgtm, size/m

#329 Forbid tenant and subscription IDs to be changed for existing shoots
  pkg/admission/validator/secret.go
  pkg/admission/validator/shoot.go
  pkg/apis/azure/validation/secrets.go
  pkg/apis/azure/validation/secrets_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, platform/azure, reviewed/lgtm, size/m
