Repository gardener/gardener-extension-provider-azure, pull requests merged in 2021-01, with the labels that each got.

#235 Use provider-specific terraformer image
  charts/images.yaml
Labels: area/cost, area/performance, kind/enhancement, kind/test, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/xs

#230 update mcm to use worker secret ref. for the machine class credentialsSecretRef
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  pkg/controller/worker/machine_controller_manager.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/m

#238 Add k8s 1.20 conformance tests (testgrid) links
  README.md
Labels: area/testing, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/xs

#239 Change ValidatingWebhookConfiguration to v1
  charts/gardener-extension-validator-azure/charts/application/templates/validatingwebhook-validator.yaml
  example/40-validatingwebhookconfiguration.yaml
  example/validator-azure-certs/tls.crt
  example/validator-azure-certs/tls.key
Labels: area/robustness, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/s

#54 NatGateway integration – step 2
  charts/internal/azure-infra/templates/_helpers.tpl
  charts/internal/azure-infra/templates/main.tf
  charts/internal/azure-infra/values.yaml
  docs/usage-as-end-user.md
  hack/api-reference/api.md
  pkg/apis/azure/types_infrastructure.go
  pkg/apis/azure/v1alpha1/types_infrastructure.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/validation/infrastructure.go
  pkg/apis/azure/validation/infrastructure_test.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
Labels: kind/api-change, kind/test, needs/ok-to-test, reviewed/lgtm, size/xl

#242 set revisionHistoryLimit to 1 for deployments
  charts/gardener-extension-provider-azure/templates/deployment.yaml
  charts/gardener-extension-validator-azure/charts/runtime/templates/deployment.yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/_deployment.tpl
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-snapshot-controller.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/deployment.yaml
  example/controller-registration.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/azure, priority/normal, reviewed/lgtm, size/xs
