Repository gardener/gardener-extension-provider-azure, pull requests merged in 2021-12, with the labels that each got.

#406 Cleanup natipmigration logic
  hack/api-reference/api.md
  pkg/apis/azure/types_infrastructure.go
  pkg/apis/azure/v1alpha1/types_infrastructure.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
Labels: kind/api-change, kind/cleanup, needs/ok-to-test, size/m, platform/azure

#407 Remove azuremachineclass cleanup logic
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#401 Gardener managed service principals
  charts/gardener-extension-provider-azure/templates/secret-serviceprincipal.yaml
  charts/gardener-extension-provider-azure/values.yaml
  docs/usage-as-end-user.md
  docs/usage-as-operator.md
  example/controller-registration.yaml
  pkg/apis/azure/validation/secrets.go
  pkg/apis/azure/validation/secrets_test.go
  pkg/azure/types.go
  pkg/cmd/options.go
  pkg/webhook/cloudprovider/add.go
  pkg/webhook/cloudprovider/ensurer.go
  pkg/webhook/cloudprovider/ensurer_test.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cloudprovider/cloudprovider.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cloudprovider/mutator.go
  vendor/modules.txt
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l, platform/azure, merge/squash

#410 Fixes deletion of remedy controller resources during cp migration
  pkg/controller/controlplane/actuator.go
  pkg/controller/controlplane/actuator_test.go
  pkg/controller/controlplane/add.go
  vendor/github.com/gardener/gardener/pkg/utils/test/gomock.go
  vendor/github.com/gardener/gardener/pkg/utils/test/options.go
  vendor/github.com/gardener/gardener/pkg/utils/test/test.go
  vendor/github.com/gardener/gardener/pkg/utils/test/test_resources.go
  vendor/modules.txt
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, area/control-plane-migration, platform/azure

#412 Fix `make install`
  pkg/controller/controlplane/actuator.go
  pkg/controller/controlplane/actuator_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#414 User lenient decoder for infra status
  pkg/apis/azure/helper/scheme.go
Labels: area/control-plane, kind/bug, kind/test, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#416 Fix CP InfrastructureStatus decoder usage
  pkg/apis/azure/helper/scheme.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/add.go
  pkg/controller/worker/helper.go
  pkg/internal/infrastructure/terraform.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#420 Remove the "garden.sapcloud.io/role" label from control plane components
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/_deployment.tpl
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/deployment.yaml
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#422 [release-v1.23] Vendor gardener/gardener@v1.36.1
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/reconciler.go
  vendor/modules.txt
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure
