Repository gardener/gardener-extension-provider-azure, pull requests merged in 2022-02, with the labels that each got.

#435 next Dev Cycle update for release-v1.24 branch
  VERSION
  example/controller-registration.yaml
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/v1alpha1/zz_generated.defaults.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/apis/config/zz_generated.deepcopy.go
Labels: area/delivery, kind/task, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#436 Cherry pick of #430 #433
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure, area/auto-scaling

#437 Fix nil pointer when cidrs are nil
  pkg/apis/azure/validation/infrastructure.go
  pkg/apis/azure/validation/infrastructure_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#434 Add support for sa token volume projection in admission charts
  charts/gardener-extension-admission-azure/charts/application/templates/rbac.yaml
  charts/gardener-extension-admission-azure/charts/application/templates/serviceaccount.yaml
  charts/gardener-extension-admission-azure/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-azure/charts/runtime/templates/serviceaccount.yaml
  charts/gardener-extension-admission-azure/values.yaml
  docs/deployment.md
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure

#431 Support for Kubernetes v1.23
  README.md
  charts/images.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/rbac-cloud-controller.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/rbac-node-controller.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_vpa.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  charts/internal/shoot-system-components/values.yaml
  pkg/azure/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, topology/garden, topology/seed, topology/shoot, platform/azure, merge/squash

#429 Kubernetes Version Configurability per Worker Pool
  docs/usage-as-end-user.md
  pkg/admission/validator/shoot.go
  pkg/apis/azure/validation/shoot.go
  pkg/apis/azure/validation/shoot_test.go
  pkg/azure/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/csimigration/add.go
  pkg/controller/healthcheck/add.go
  pkg/webhook/controlplane/ensurer.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, size/m, platform/azure, merge/squash

#440 Update valuesprovider.go
  pkg/controller/controlplane/valuesprovider.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm

#441 Fix serviceaccount defaulting during helm upgrade
  charts/gardener-extension-admission-azure/charts/runtime/templates/deployment.yaml
Labels: needs/ok-to-test, reviewed/lgtm

#443 Keep `cloud-controller-manager`'s `ClusterRoleBinding` on deletion
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/rbac-cloud-controller-manager.yaml
Labels: area/usability, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#444 Increase cpu resources for csi-driver
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_vpa.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#442 Adapt `ClusterRoleBinding` for `remedy-controller` in case token requestor is enabled
  charts/internal/shoot-system-components/charts/remedy-controller-azure/templates/clusterrolebinding.yaml
Labels: area/security, kind/bug, reviewed/lgtm, size/xs, platform/azure

#446 Vendor gardener/gardener@v1.40.2
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_restore.go
  vendor/modules.txt
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#447 fix printing tf template with multiple ip addresses
  pkg/internal/infrastructure/templates/main.tpl.tf
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#449 [Cherry-pick] fix printing tf template with multiple ip addresses
  VERSION
  example/controller-registration.yaml
  pkg/internal/infrastructure/templates/main.tpl.tf
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#450 Add integration test for user provided nat ips
  test/integration/infrastructure/infrastructure_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure, area/testing
