Repository gardener/gardener-extension-provider-azure, pull requests merged in 2022-04, with the labels that each got.

#472 update bastion test go version
  .test-defs/bastion-test.yaml
Labels: area/control-plane, kind/test, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#474 Move `Name` field to `ControlPlaneSecretConfig`
  pkg/controller/controlplane/valuesprovider.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#417 adopt nodeTemplate in MachineClasses
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  go.mod
  go.sum
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/machineclass_types.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/zz_generated.deepcopy.go
  vendor/github.com/gardener/machine-controller-manager/pkg/client/clientset/versioned/scheme/doc.go
  vendor/github.com/gardener/machine-controller-manager/pkg/client/clientset/versioned/scheme/register.go
  vendor/modules.txt
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, reviewed/do-not-merge, size/s, platform/azure, area/auto-scaling

#477 Fix csi-driver-controller-disk ClusterRoleBinding
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrolebinding-csi-driver-controller-disk.yaml
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#478 [release-v1.26] Automated cherry pick of #477: Fix csi-driver-controller-disk ClusterRoleBinding
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrolebinding-csi-driver-controller-disk.yaml
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#479 Assign value to `nodeTemplate.zone` in case of non-zonal setup
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure, area/auto-scaling

#473 Add ready check for webhook server
  charts/gardener-extension-admission-azure/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-azure/values.yaml
  charts/gardener-extension-provider-azure/templates/deployment.yaml
  charts/gardener-extension-provider-azure/values.yaml
  cmd/gardener-extension-admission-azure/app/app.go
  cmd/gardener-extension-provider-azure/app/app.go
  example/controller-registration.yaml
  vendor/github.com/gardener/gardener/pkg/healthz/default.go
  vendor/github.com/gardener/gardener/pkg/healthz/healthz.go
  vendor/github.com/gardener/gardener/pkg/healthz/informer.go
  vendor/github.com/gardener/gardener/pkg/healthz/periodic.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#458 update cloudprovider webhook for objectSelector
  cmd/gardener-extension-provider-azure/app/app.go
  pkg/cmd/options.go
  pkg/webhook/cloudprovider/add.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#488 Update kubernetes-sigs/azuredisk-csi-driver
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#490 fix getSubnet
  pkg/controller/bastion/actuator.go
  pkg/controller/bastion/actuator_reconcile.go
Labels: reviewed/ok-to-test
