Repository gardener/gardener-extension-provider-azure, pull requests merged in 2022-05, with the labels that each got.

#484 Remove deprecated dashboards
  charts/internal/seed-controlplane/charts/cloud-controller-manager/ccm-dashboard.json
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/csi-driver-controller-dashboard.json
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/configmap-observability.yaml
Labels: area/logging, kind/cleanup, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, platform/azure

#487 add k8s v1.23 conformance testgrid link
  README.md
Labels: area/certification, kind/test, reviewed/lgtm, size/xs, platform/azure

#459 Update manifest.yaml
  .docforge/manifest.yaml
Labels: needs/review, size/xs

#498 Upgrade github.com/gardener/cloud-provider-azure
  charts/images.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#494 rework component resources
  charts/gardener-extension-admission-azure/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-provider-azure/templates/vpa.yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/machine-controller-manager/seed/templates/vpa.yaml
  charts/internal/machine-controller-manager/seed/values.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/_deployment.tpl
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/_vpa.tpl
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/values.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_daemonset.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_vpa.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  cmd/gardener-extension-provider-azure/app/app.go
  example/controller-registration.yaml
  pkg/controller/controlplane/valuesprovider.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure

#496 update azurefile-csi to latest version
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#500 Unblock infrastructure deletion if cluster resource group is gone
  pkg/azure/client/group.go
  pkg/azure/client/mock/doc.go
  pkg/azure/client/mock/mocks.go
  pkg/azure/client/subnet.go
  pkg/azure/client/types.go
  pkg/controller/bastion/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_test.go
  pkg/internal/infrastructure/helper.go
  pkg/internal/infrastructure/helper_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, platform/azure

#503 Remove CSI CPU limits from seed
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  example/controller-registration.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#505 admission-azure: Add missing `cloudprofiles` resource to the ValidatingWebhookConfiguration
  charts/gardener-extension-admission-azure/charts/application/templates/validatingwebhook-validator.yaml
  example/40-validatingwebhookconfiguration.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#506 [release-v1.27] Automated cherry pick of #505: admission-azure: Add missing `cloudprofiles` resource to the ValidatingWebhookConfiguration
  charts/gardener-extension-admission-azure/charts/application/templates/validatingwebhook-validator.yaml
  example/40-validatingwebhookconfiguration.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#509 Support for Kubernetes v1.24
  README.md
  charts/images.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/common/checkerwatchdog.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/common/checkerwatchdogfactory.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/common/watchdogmanager.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/controlplane/genericactuator/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/secret/manager/manager.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/certificates/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/certificates/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cmd/options.go
  vendor/github.com/gardener/gardener/hack/test-integration.sh
  vendor/github.com/gardener/gardener/hack/tools.mk
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/client.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/types.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/types.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/healthz/periodic.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/progress_reporter_delaying.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/health/seed.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/unstructured/object.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/alias.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/certificate.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/manager/manager.go
  vendor/github.com/gardener/gardener/pkg/utils/validation/features/featuregates.go
  vendor/github.com/gardener/gardener/pkg/utils/version/version.go
  vendor/k8s.io/apimachinery/pkg/util/clock/clock.go
  vendor/modules.txt
Labels: area/open-source, area/usability, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#510 Enable the healthchecks for the csi-snapshot-validation Deployment
  pkg/controller/healthcheck/add.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#508 Renamed tutorial to folder name
  docs/tutorials/kubernetes-cluster-on-azure-with-gardener/kubernetes-cluster-on-azure-with-gardener.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/azure

#507 admission-azure: Adapt Secrets webhook to rely on the provider label
  charts/gardener-extension-admission-azure/charts/application/templates/rbac.yaml
  charts/gardener-extension-admission-azure/charts/application/templates/validatingwebhook-validator.yaml
  cmd/gardener-extension-admission-azure/app/app.go
  example/40-validatingwebhookconfiguration.yaml
  pkg/admission/validator/secret.go
  pkg/admission/validator/secretbinding.go
  pkg/admission/validator/secretbinding_test.go
  pkg/admission/validator/shoot.go
  pkg/admission/validator/validator_suite_test.go
  pkg/admission/validator/webhook.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/index/index.go
  vendor/github.com/gardener/gardener/extensions/pkg/util/secret/secret.go
  vendor/modules.txt
Labels: area/cost, area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l, platform/azure
