Repository gardener/gardener-extension-provider-azure, pull requests merged in 2022-10, with the labels that each got.

#576 Update remedy controller
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/lgtm, needs/review, size/xs, platform/azure

#580 If machine image architecture is nil consider its architecture amd64
  pkg/apis/azure/helper/helper.go
  pkg/apis/azure/helper/helper_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#571 Correct the metricsPort check for admission-azure deployment
  charts/gardener-extension-admission-azure/charts/runtime/templates/deployment.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#581 Update ccm/cloud-node-manager
  charts/images.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#582 Update go to v1.19
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-azure.yaml
  Dockerfile
  Makefile
  go.mod
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/lgtm, needs/review, size/xs, platform/azure

#587 Disable remedy-controller after deployment
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure
