Repository gardener/gardener-extension-provider-azure, pull requests merged in 2022-07, with the labels that each got.

#531 Update CCM and CNM images
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#532 DDos protection plan for managed vnets
  docs/usage-as-end-user.md
  example/30-infrastructure.yaml
  hack/api-reference/api.md
  pkg/apis/azure/types_infrastructure.go
  pkg/apis/azure/v1alpha1/types_infrastructure.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/validation/infrastructure.go
  pkg/apis/azure/validation/infrastructure_test.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
Labels: kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#535 Change default SC from HDD to SSD type
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
Labels: area/storage, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#533 Adapt the priority according to the gardener guideline
  charts/gardener-extension-provider-azure/templates/_helpers.tpl
  charts/gardener-extension-provider-azure/templates/deployment.yaml
  charts/gardener-extension-provider-azure/templates/priorityclass.yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/_deployment.tpl
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-snapshot-controller.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/deployment.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#538 Update Go version to 1.18
  .golangci.yaml
  Dockerfile
  Makefile
  go.mod
  go.sum
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/lgtm, needs/rebase, needs/second-opinion, size/l, platform/azure

#536 Document detailed Azure permissions to manage a Shoot
  docs/azure-permissions.md
  docs/tutorials/kubernetes-cluster-on-azure-with-gardener/kubernetes-cluster-on-azure-with-gardener.md
  docs/usage-as-end-user.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure

#541 Upgrade hvpa
  go.mod
  go.sum
  vendor/github.com/gardener/hvpa-controller/api/v1alpha1/groupversion_info.go
  vendor/github.com/gardener/hvpa-controller/api/v1alpha1/hvpa_types.go
  vendor/github.com/gardener/hvpa-controller/api/v1alpha1/zz_generated.deepcopy.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/doc.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/register.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/types.go
  vendor/k8s.io/autoscaler/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1beta2/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#534 Do not allow containers in privileged mode for the cloud-node-manager PodSecurityPolicy
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager-psp.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#539 disable CCM pod CIDR allocation
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/lgtm, needs/review, size/xs, platform/azure

#542 Update v1.24 conformance test coverage
  README.md
Labels: needs/ok-to-test, needs/review, size/xs

#544 Reenable the pod allocation for k8s <=1.23.x
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, platform/azure

#545 [release-v1.28] Automated cherry pick of #544: Reenable the pod allocation for k8s <=1.23.x
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs
