Repository gardener/gardener-extension-provider-azure, pull requests merged in 2022-09, with the labels that each got.

#559 Add default seccomp profile for shoot components
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager-psp.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_daemonset.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/lgtm, needs/review, size/xs, platform/azure

#567 Adding support for shared gallery images
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  docs/usage-as-operator.md
  hack/api-reference/api.md
  pkg/apis/azure/helper/helper.go
  pkg/apis/azure/helper/helper_test.go
  pkg/apis/azure/types_cloudprofile.go
  pkg/apis/azure/types_worker.go
  pkg/apis/azure/v1alpha1/types_cloudprofile.go
  pkg/apis/azure/v1alpha1/types_worker.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/validation/cloudprofile.go
  pkg/apis/azure/validation/cloudprofile_test.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/controller/worker/machine_images.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/usability, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure

#540 Adds MaxAllowed for VPA objects
  charts/internal/machine-controller-manager/seed/templates/vpa.yaml
  charts/internal/machine-controller-manager/seed/values.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/_vpa.tpl
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_vpa.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure, area/auto-scaling

#562 Add arm support
  docs/usage-as-operator.md
  hack/api-reference/api.md
  pkg/apis/azure/helper/helper.go
  pkg/apis/azure/helper/helper_test.go
  pkg/apis/azure/types_cloudprofile.go
  pkg/apis/azure/types_worker.go
  pkg/apis/azure/v1alpha1/defaults.go
  pkg/apis/azure/v1alpha1/defaults_test.go
  pkg/apis/azure/v1alpha1/types_cloudprofile.go
  pkg/apis/azure/v1alpha1/types_worker.go
  pkg/apis/azure/v1alpha1/v1alpha1_suite_test.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/v1alpha1/zz_generated.defaults.go
  pkg/apis/azure/validation/cloudprofile.go
  pkg/apis/azure/validation/cloudprofile_test.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/controller/worker/machine_images.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/delivery, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l, platform/azure

#573 Remove support for kubernetes < 1.17 for Azure extension provider
  README.md
  charts/images.yaml
  charts/internal/cloud-provider-config/values.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  docs/usage-as-end-user.md
  docs/usage-as-operator.md
  example/10-fake-shoot-controlplane.yaml
  example/30-controlplane.yaml
  example/30-worker.yaml
  hack/api-reference/api.json
  hack/api-reference/config.json
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, kind/cleanup, needs/ok-to-test, needs/review, size/m, platform/azure
