Repository gardener/gardener-extension-provider-azure, pull requests merged in 2022-01, with the labels that each got.

#423 Deploy allow-egress services for vmss flex clusters
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/v1alpha1/zz_generated.defaults.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure, merge/squash

#425 Add check for the docforge manifest
  .ci/verify
  .gitignore
  Makefile
  hack/tools/bin/.gitkeep
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#331 Zone redundant NAT Gateways
  docs/usage-as-end-user.md
  example/30-infrastructure.yaml
  hack/api-reference/api.md
  pkg/admission/validator/shoot.go
  pkg/apis/azure/helper/helper.go
  pkg/apis/azure/helper/helper_test.go
  pkg/apis/azure/types_infrastructure.go
  pkg/apis/azure/v1alpha1/types_infrastructure.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/validation/infrastructure.go
  pkg/apis/azure/validation/infrastructure_test.go
  pkg/apis/azure/validation/shoot.go
  pkg/apis/azure/validation/shoot_test.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/azure/types.go
  pkg/cmd/options.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/controller/worker/utils_test.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
  pkg/webhook/infrastructure/add.go
  pkg/webhook/infrastructure/mutate.go
  pkg/webhook/infrastructure/mutate_test.go
  test/integration/infrastructure/infrastructure_test.go
  test/tm/generator.go
Labels: area/control-plane, kind/api-change, kind/enhancement, kind/test, needs/ok-to-test, reviewed/lgtm, size/xl, platform/azure

#426 Update RBAC for leader election of machine-controller-manager
  charts/internal/machine-controller-manager/seed/templates/clusterrole.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/azure

#430 Setting CSI Azure topology label on machine deployment creation to allow scale-up
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure, area/auto-scaling

#433 Include full zone name in topology label
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure, area/auto-scaling
