Repository gardener/gardener-extension-provider-azure, pull requests merged in 2022-03, with the labels that each got.

#453 Update testdef timeout
  .test-defs/infrastructure-test.yaml
Labels: area/delivery, kind/test, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#454 Add object selector for provider type in the `gardener-extension-admission-azure` webhook
  charts/gardener-extension-admission-azure/charts/application/templates/validatingwebhook-validator.yaml
  charts/gardener-extension-admission-azure/values.yaml
  example/40-validatingwebhookconfiguration.yaml
Labels: area/robustness, kind/enhancement, reviewed/lgtm, size/xs, platform/azure

#461 [release-v1.26] Cherry-pick of #457
  charts/images.yaml
Labels: needs/ok-to-test

#460 controller-registration: Add Bastion as a supported resource
  charts/gardener-extension-provider-azure/doc.go
  example/controller-registration.yaml
Labels: area/ops-productivity, area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#462 Keep kubelet's `--cloud-provider` flag even for 1.23+
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#463 [release-v1.26] Automated cherry pick of #462: Keep kubelet's `--cloud-provider` flag even for 1.23+
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, needs/review, size/xs

#456 Replace -ginkgo.noColor with -ginkgo.no-color
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#455 Improve grafana dashboards
  charts/internal/machine-controller-manager/seed/mcm-monitoring-dashboard.json
  charts/internal/seed-controlplane/charts/cloud-controller-manager/ccm-dashboard.json
  charts/internal/seed-controlplane/charts/csi-driver-controller/csi-driver-controller-dashboard.json
  charts/internal/seed-controlplane/charts/remedy-controller-azure/rc-monitoring-dashboard.json
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, platform/azure, merge/squash

#469 Add --version flag for components
  .dockerignore
  Makefile
  cmd/gardener-extension-admission-azure/app/app.go
  cmd/gardener-extension-provider-azure/app/app.go
  vendor/k8s.io/component-base/version/verflag/verflag.go
  vendor/modules.txt
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#451 Add snaphot validation webhook
  charts/gardener-extension-provider-azure/templates/rbac.yaml
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-networkpolicy.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-servcie.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/csi-snapshot-validation-webhook.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  example/controller-registration.yaml
  pkg/azure/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/healthcheck/add.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l, platform/azure
