Repository gardener/gardener-extension-provider-azure, pull requests merged in 2022-06, with the labels that each got.

#512 Fix missing update to csi-snapshot-controller memory limits
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#515 Vendor gardener/machine-controller-manager@v0.45.0
  go.mod
  go.sum
  vendor/github.com/gardener/machine-controller-manager/pkg/apis/machine/v1alpha1/alicoud_machineclass_types.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, reviewed/lgtm, size/xs

#522 Upgrade github.com/kubernetes-sigs/cloud-provider-azure
  charts/images.yaml
Labels: area/control-plane, area/open-source, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#521 Add PodSecurityPolicy for cloud-node-manager
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager-psp-clusterrole.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager-psp-rolebinding.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager-psp.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#524 [release-v1.28] Automated cherry pick of #521: Add PodSecurityPolicy for cloud-node-manager
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager-psp-clusterrole.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager-psp-rolebinding.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager-psp.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/s

#520 update azurefile-csi to v1.19
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#517 update with additional resource provider required for subscription microsoft.Network
  docs/tutorials/kubernetes-cluster-on-azure-with-gardener/kubernetes-cluster-on-azure-with-gardener.md
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#526 Change base image from alpine to distroless
  Dockerfile
Labels: area/open-source, area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#525 Add parsers for csi-snapshot pods
  charts/gardener-extension-provider-azure/templates/configmap-logging.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-snapshot-controller.yaml
  example/controller-registration.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#518 Fix bastion for multi subnet
  pkg/controller/bastion/actuator.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/bastion_test.go
  pkg/controller/bastion/options.go
  pkg/controller/bastion/resourcesdefine.go
  test/integration/bastion/bastion_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, reviewed/lgtm, size/m, platform/azure

#523 Add CSI migration feature gates to the cluster-autoscaler
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure, area/auto-scaling
