Repository gardener/gardener-extension-provider-azure, pull requests merged in 2022-08, with the labels that each got.

#550 update csi images
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/_deployment.tpl
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/lgtm, needs/second-opinion, size/xl, platform/azure

#529 Adjust metric name due to upgrading the kube-state-metrics component
  charts/internal/machine-controller-manager/seed/mcm-monitoring-dashboard.json
  charts/internal/seed-controlplane/charts/remedy-controller-azure/rc-monitoring-dashboard.json
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#556 fix Makefile to locally install required helm
  Makefile
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#557 remove unused field
  test/integration/bastion/bastion_test.go
Labels: kind/cleanup, needs/ok-to-test, needs/lgtm, size/xs, platform/azure, area/testing

#560 bastion creation when own vnet adopted
  pkg/controller/bastion/actuator.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/bastion_test.go
Labels: area/ops-productivity, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#563 Upgrade github.com/kubernetes-sigs/azurefile-csi-driver
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#565 [GEP-20] Change StorageClass to WaitForFirstConsumer
  charts/gardener-extension-provider-azure/templates/storageclass.yaml
  charts/gardener-extension-provider-azure/values.yaml
  example/controller-registration.yaml
Labels: needs/ok-to-test

#558 Don't deploy `PSP`s when `PodSecurityPolicy` plugin is disabled
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-driver.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/open-source, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure, merge/squash
