Repository gardener/gardener-extension-provider-azure, pull requests merged in 2022-12, with the labels that each got.

#602 add topology webhook
  charts/gardener-extension-provider-azure/templates/deployment.yaml
  example/controller-registration.yaml
  pkg/cmd/options.go
  pkg/webhook/network/add.go
  pkg/webhook/topology/add.go
  pkg/webhook/topology/mutator.go
  pkg/webhook/topology/mutator_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/l, platform/azure

#609 Update k8s v1.25 conformance test coverage
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#607 Remove duplicate MockFactory
  pkg/controller/worker/machine_dependencies_test.go
  pkg/mock/factory/doc.go
  pkg/mock/factory/mocks.go
Labels: area/control-plane, kind/test, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure

#611 add linting check for deprecated functions
  .golangci.yaml
  charts/charts.go
  pkg/apis/config/loader/loader.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#588 Fix delete shoot with invalid credentials
  pkg/azure/client/helper.go
  pkg/azure/client/helper_test.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#604 support switching of network overlay mode for cilium shoot cluster
  charts/gardener-extension-admission-azure/charts/application/templates/mutatingwebhook-mutator.yaml
  docs/usage-as-end-user.md
  example/50-mutatingwebhookconfiguration.yaml
  go.mod
  go.sum
  pkg/admission/cmd/options.go
  pkg/admission/mutator/mutator_suite_test.go
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  pkg/admission/mutator/webhook.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-cilium/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/doc.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/register.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/cilium/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/cilium/types.go
  vendor/modules.txt
Labels: area/networking, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/l, platform/azure

#613 Fix topology webhook namespace lookup
  pkg/webhook/topology/add.go
  pkg/webhook/topology/mutator.go
  pkg/webhook/topology/mutator_test.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/azure
