Repository gardener/gardener-extension-provider-azure, pull requests merged in 2023-10, with the labels that each got.

#734 Support for Kubernetes v1.28
  README.md
  imagevector/images.yaml
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, topology/garden, topology/seed, topology/shoot, platform/azure, merge/squash

#738 Fix internal charts embedding
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment.tpl
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/poddisruptionbudget.tpl
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/vpa.tpl
Labels: area/open-source, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#726 Introduce the use of central manifest
  .ci/verify
  .docforge/manifest.yaml
  Makefile
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#740 fix: Concourse build badge URL
  README.md
Labels: area/documentation, kind/cleanup, needs/ok-to-test, needs/review, size/xs, platform/azure

#720 update quota regex
  pkg/apis/azure/helper/error_codes.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#735 Remove dependency to specific calico and cilium versions.
  cmd/gardener-extension-admission-azure/app/app.go
  go.mod
  go.sum
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  pkg/admission/validator/shoot.go
  pkg/apis/azure/validation/shoot.go
  pkg/apis/azure/validation/shoot_test.go
  pkg/webhook/network/add.go
  pkg/webhook/network/mutate.go
  vendor/github.com/gardener/gardener-extension-networking-calico/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/install/install.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/helper/decode.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/apis/calico/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-calico/pkg/calico/types.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/LICENSE.md
  vendor/github.com/gardener/gardener-extension-networking-cilium/NOTICE.md
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/doc.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/register.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/doc.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/register.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/types_network.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/v1alpha1/zz_generated.defaults.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/apis/cilium/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/cilium/predicates.go
  vendor/github.com/gardener/gardener-extension-networking-cilium/pkg/cilium/types.go
  vendor/modules.txt
Labels: area/networking, kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure

#722 Automatically configure calico properly if ebpf dataplane is used.
  charts/gardener-extension-provider-azure/templates/service.yaml
  cmd/gardener-extension-provider-azure/app/app.go
  example/controller-registration.yaml
  pkg/cmd/options.go
  pkg/controller/controlplane/add.go
  pkg/webhook/acceleratednetwork/add.go
  pkg/webhook/acceleratednetwork/mutate.go
Labels: area/networking, area/usability, kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/azure

#742 readiness check for snapshot webhook
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-deployment.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#743 always set vmtype
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/technical-debt, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure
