Repository gardener/gardener-extension-provider-azure, pull requests merged in 2023-11, with the labels that each got.

#745 Vendor gardener/gardener@v1.81.6
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/controlplane/genericactuator/actuator.go
  vendor/github.com/gardener/gardener/imagevector/images.yaml
  vendor/github.com/gardener/gardener/pkg/utils/validation/features/featuregates.go
  vendor/github.com/gardener/gardener/test/framework/gardener_utils.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, platform/azure

#746 Fix `make check`
  charts/gardener-extension-provider-azure/values.yaml
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure, area/testing

#747 Update pipeline_definitions
  .ci/pipeline_definitions
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#750 [release-v1.39] Automated cherry pick of #749: [ci:component:github.com/gardener/machine-controller-manager-provider-azure:v0.11.0->v0.11.1]
  imagevector/images.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#752 Fix failing validation when overlay config is empty.
  pkg/apis/azure/validation/shoot.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#753 Fix failing validation when overlay config is empty.
  pkg/apis/azure/validation/shoot.go
Labels: area/networking, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#754 Fix empty `vmType`
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#755 [release-v1.39] Automated cherry pick of #754: Fix empty `vmType`
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs
