Repository gardener/gardener-extension-provider-azure, pull requests merged in 2023-03, with the labels that each got.

#641 Update to Go 1.19.7
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-azure.yaml
  Dockerfile
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#646 Update v1.26 conformance test coverage
  README.md
Labels: needs/ok-to-test, needs/review, size/xs

#643 Add wait-for-csi-node annotation to csi-driver-node Pods
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_daemonset.tpl
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#645 Switch to the non-deprecated funcs of the WorkerDelegate
  pkg/controller/worker/machine_dependencies.go
  pkg/controller/worker/machine_dependencies_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/azure

#651 [release-v1.34] Vendor `gardener@1.65.3` and add `ShootSystemComponentsHealthy` to `conditionTypesToRemove`
  go.mod
  go.sum
  pkg/controller/healthcheck/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/modules.txt
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/azure

#648 update cloud provider images
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#649 Make the `csi-snapshot-validation` Service topology-aware
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/high-availability, area/networking, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/azure

#468 Allow configuring Default Volumesnapshot and Storage class
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-storageclasses/templates/storageclasses_legacy.yaml
  charts/internal/shoot-storageclasses/values.yaml
  hack/api-reference/api.md
  pkg/apis/azure/types_controlplane.go
  pkg/apis/azure/v1alpha1/defaults.go
  pkg/apis/azure/v1alpha1/defaults_test.go
  pkg/apis/azure/v1alpha1/types_controlplane.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/v1alpha1/zz_generated.defaults.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l, platform/azure

#654 Upgrade machine-controller-manager from v0.48.1 to v0.48.2
  charts/images.yaml
Labels: needs/ok-to-test, needs/review, size/xs

#656 enable cleanup of snapshots
  .ci/pipeline_definitions
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure
