Repository gardener/gardener-extension-provider-azure, pull requests merged in 2023-08, with the labels that each got.

#714 Add `gardener-scheduler` region config example
  example/60-gardener-scheduler-region-configmap.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, platform/azure, area/scalability

#716 Configure CCM to keep setting deprecated labes on the nodes
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
Labels: area/ops-productivity, area/robustness, area/storage, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#717 Pass the `--enable-deprecated-beta-topology-labels` flag to cloud-node-manager, not cloud-controller-manager
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
Labels: area/control-plane, kind/bug, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#718 [release-v1.37] Keep setting deprecated labels on the nodes
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#719 Update region config example
  example/60-gardener-scheduler-region-configmap.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, platform/azure, area/scalability

#721 Add support for projected volume kubeconfig
  charts/gardener-extension-admission-azure/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-azure/values.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/azure

#723 fix bastion image picking
  pkg/controller/bastion/actuator_reconcile.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/azure

#725 Correct persona for end user tutorial
  .docforge/manifest.yaml
Labels: needs/review, reviewed/ok-to-test, size/xs
