Repository gardener/gardener-extension-provider-azure, pull requests merged in 2023-05, with the labels that each got.

#677 Add a new metric that will allow Prometheus to scrape the stale machine count
  charts/internal/machine-controller-manager/seed/templates/configmap-monitoring.yaml
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#681 Consider errors from NodesChecker for finding user related issues
  pkg/controller/healthcheck/add.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#682 [release-v1.35] Consider errors from NodesChecker for finding user related issues
  pkg/controller/healthcheck/add.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/azure

#683 Adapt `NetworkPolicy`s
  charts/gardener-extension-admission-azure/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-admission-azure/charts/runtime/templates/service.yaml
  charts/gardener-extension-provider-azure/templates/service.yaml
  charts/internal/machine-controller-manager/seed/templates/service.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager-svc.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/service.yaml
  example/controller-registration.yaml
  pkg/webhook/controlplane/ensurer.go
Labels: area/networking, area/security, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#686 topology-aware routing: Adapt to the upstream annotation change in K8s 1.27
  charts/gardener-extension-admission-azure/charts/runtime/templates/service.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
Labels: area/high-availability, area/networking, kind/enhancement, needs/ok-to-test, needs/review, reviewed/lgtm, size/xs, platform/azure

#688 Add cve categorziation for extension and admission controller
  .ci/pipeline_definitions
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure, area/compliance

#691 Update images
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/lgtm, size/xs, platform/azure

#690 update go v1.20.4
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-azure.yaml
  Dockerfile
  go.mod
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#680 Set PodDisruptionBudget maxUnavailable=1 in provider chart
  charts/gardener-extension-provider-azure/templates/poddisruptionbudget.yaml
  example/controller-registration.yaml
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure
