Repository gardener/gardener-extension-provider-azure, pull requests merged in 2023-07, with the labels that each got.

#709 fix a case where a successful test would fail during cleanup
  test/integration/bastion/bastion_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure, area/testing

#705 Adapt to new `MachineControllerManagerDeployment` feature gate
  charts/gardener-extension-provider-azure/templates/deployment.yaml
  charts/gardener-extension-provider-azure/values.yaml
  cmd/gardener-extension-provider-azure/app/app.go
  example/controller-registration.yaml
  pkg/controller/healthcheck/add.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/add.go
  pkg/webhook/controlplane/add.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#692 Add integration test case for invalid credentials
  test/integration/infrastructure/infrastructure_test.go
Labels: area/usability, kind/test, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#668 alwasy using latest os version for bastion vm
  pkg/azure/client/factory.go
  pkg/azure/client/mock/mocks.go
  pkg/azure/client/types.go
  pkg/azure/client/vmImage.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/bastion/resourcesdefine.go
  test/integration/bastion/bastion_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/azure

#712 Fixed broken links - 2023.07
  docs/tutorials/kubernetes-cluster-on-azure-with-gardener/kubernetes-cluster-on-azure-with-gardener.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#711 Introduce persona-based docs
  .docforge/manifest.yaml
  docs/development/local-setup.md
  docs/operations/deployment.md
  docs/operations/operations.md
  docs/tutorials/kubernetes-cluster-on-azure-with-gardener/kubernetes-cluster-on-azure-with-gardener.md
  docs/usage/azure-permissions.md
  docs/usage/migrate-loadbalancer.md
  docs/usage/usage.md
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s
