Repository gardener/gardener-extension-provider-azure, pull requests merged in 2023-02, with the labels that each got.

#628 Add validation for vnet name and resource group
  pkg/apis/azure/validation/infrastructure.go
  pkg/apis/azure/validation/infrastructure_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#620 Add Fluent Operator resources
  charts/gardener-extension-provider-azure/templates/clusterfilters-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, needs/review, reviewed/lgtm, size/s, platform/azure

#629 Skip backupbucket container deletion if generated secret is not existing
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupbucket/secret.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#615 Update golang to v1.19.5
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-azure.yaml
  Dockerfile
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#626 Allow VNet expansion
  pkg/apis/azure/validation/infrastructure.go
  pkg/apis/azure/validation/infrastructure_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#631 update namespace selector for topology webhook
  pkg/webhook/topology/add.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#605 Use provider specific regex to parse error codes from error
  pkg/apis/azure/helper/error_codes.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupentry/actuator.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/infrastructure/actuator_delete.go
  pkg/controller/infrastructure/actuator_migrate.go
  pkg/controller/infrastructure/actuator_reconcile.go
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/azure

#632 Mark csi-driver-node-* and cloud-node-manager as node-critical component
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_daemonset.tpl
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#640 Remove minAllowed.CPU from all components
  charts/gardener-extension-admission-azure/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-azure/values.yaml
  charts/gardener-extension-provider-azure/templates/vpa.yaml
  charts/gardener-extension-provider-azure/values.yaml
  charts/internal/machine-controller-manager/seed/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/_vpa.tpl
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_vpa.tpl
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure, area/auto-scaling

#637 simplify gardener version passing to webhooks
  cmd/gardener-extension-provider-azure/app/app.go
  pkg/cmd/options.go
  pkg/webhook/cloudprovider/add.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#639 Topology webhook config
  charts/gardener-extension-provider-azure/templates/deployment.yaml
  charts/gardener-extension-provider-azure/values.yaml
  cmd/gardener-extension-provider-azure/app/app.go
  example/controller-registration.yaml
  pkg/cmd/config.go
  pkg/webhook/topology/add.go
  pkg/webhook/topology/mutator.go
  pkg/webhook/topology/mutator_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure
