Repository gardener/gardener-extension-provider-azure, pull requests merged in 2023-01, with the labels that each got.

#616 add HA annotations for CSI pods
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/_deployment.tpl
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#617 update attacher options to match upstream defaults
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/_deployment.tpl
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#612 update csi images
  charts/images.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#621 Add CVE runtime context for `MCM` and `mcm-provider-azure`
  charts/images.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#608 Drop support for kubernetes < 1.20 for Azure extension provider
  README.md
  charts/images.yaml
  charts/internal/cloud-provider-config/templates/cloud-provider-config.tpl
  charts/internal/cloud-provider-config/values.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_daemonset.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/_helpers.tpl
  example/10-fake-shoot-controlplane.yaml
  hack/api-reference/api.json
  hack/api-reference/config.json
  pkg/apis/azure/validation/controlplane_test.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure
