Repository gardener/gardener-extension-provider-azure, pull requests merged in 2023-06, with the labels that each got.

#696 Add calico scheme to validator
  cmd/gardener-extension-admission-azure/app/app.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#697 [release-v1.36] Automated cherry pick of #696: Add calico scheme to validator
  cmd/gardener-extension-admission-azure/app/app.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#702 Update external-provisioner to version 3.4.1
  charts/images.yaml
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#701 Improve CIDR validation message
  pkg/apis/azure/validation/infrastructure.go
  pkg/apis/azure/validation/infrastructure_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#698 change networking decoder to lenient
  pkg/admission/validator/shoot.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#699 Support for Kubernetes v1.27
  README.md
  charts/images.yaml
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, topology/garden, topology/seed, topology/shoot, platform/azure, merge/squash

#707 [release-v1.36] Automated cherry pick of #706: [ci:component:github.com/gardener/machine-controller-manager:v0.49.2->v0.49.3]
  charts/images.yaml
Labels: area/ops-productivity, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#704 Drop code related to `APIServerSNI` feature gate
  pkg/webhook/controlplaneexposure/ensurer.go
  pkg/webhook/controlplaneexposure/ensurer_test.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m
