Repository gardener/gardener-extension-provider-azure, pull requests merged in 2024-09, with the labels that each got.

#957 [GEP-26] CredentialsBinding validation via admission webhook
  cmd/gardener-extension-admission-azure/app/app.go
  docs/usage/usage.md
  pkg/admission/validator/credentialsbinding.go
  pkg/admission/validator/credentialsbinding_test.go
  pkg/admission/validator/webhook.go
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/azure, area/ipcei

#961 Parallelize infrastructure tests
  .test-defs/infrastructure-test.yaml
  test/integration/infrastructure/infrastructure_test.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/azure, area/testing

#922 [GEP-25] Enable Shoot cloudProfile reference as complement to cloudProfileName
  charts/gardener-extension-admission-azure/charts/application/templates/rbac.yaml
  docs/usage/usage.md
  pkg/admission/validator/shoot.go
  pkg/admission/validator/shoot_test.go
  pkg/apis/azure/helper/scheme.go
  pkg/apis/azure/validation/infrastructure.go
  pkg/apis/azure/validation/infrastructure_test.go
Labels: area/open-source, area/usability, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l, platform/azure

#973 remove min/maxAllowed
  charts/gardener-extension-admission-azure/charts/runtime/templates/vpa.yaml
  charts/gardener-extension-admission-azure/values.yaml
  charts/gardener-extension-provider-azure/templates/vpa.yaml
  charts/gardener-extension-provider-azure/values.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/vpa.tpl
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/vpa.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  example/controller-registration.yaml
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/changes, needs/review, size/m, platform/azure

#975 Fix nil pointer dereference
  pkg/controller/worker/machines.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#976 remove limits from cloud-node-manager
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
Labels: area/control-plane, kind/technical-debt, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure
