Repository gardener/gardener-extension-provider-azure, pull requests merged in 2024-02, with the labels that each got.

#791 specify leader-election ns
  charts/gardener-extension-admission-azure/charts/runtime/templates/deployment.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/azure

#787 simplify condition for picking terraform after trying to decode state
  pkg/controller/infrastructure/actuator_helper.go
Labels: area/control-plane, kind/bug, kind/enhancement, needs/ok-to-test, needs/review, reviewed/ok-to-test, size/xs, platform/azure

#795 refactor blob client
  pkg/azure/client/factory.go
  pkg/azure/client/mock/mocks.go
  pkg/azure/client/types.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupentry/actuator.go
Labels: area/storage, kind/bug, needs/ok-to-test, needs/review, size/m, platform/azure

#794 Add Kubernetes v1.29 conformance test badge
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#796 fix docker image targets
  Makefile
Labels: area/dev-productivity, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#797 webhook for seed namespaces
  cmd/gardener-extension-provider-azure/app/app.go
  pkg/cmd/options.go
  pkg/webhook/highavailability/namespace/add.go
  pkg/webhook/highavailability/namespace/mutator.go
  pkg/webhook/highavailability/namespace/mutator_test.go
Labels: area/control-plane, kind/technical-debt, needs/ok-to-test, needs/review, needs/second-opinion, size/l, platform/azure
