Repository gardener/gardener-extension-provider-azure, pull requests merged in 2024-05, with the labels that each got.

#851 fix nil pointer for buckets
  pkg/apis/azure/helper/scheme.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupentry/actuator.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/azure

#856 [release-v1.43] Automated cherry pick of #851: fix nil pointer for buckets
  pkg/apis/azure/helper/scheme.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupentry/actuator.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#858 chore: Update Concourse URL
  README.md
Labels: area/documentation, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#864 Remove invalid CCM feature gate from the examples
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  docs/usage/usage.md
  example/30-controlplane.yaml
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#853 [GEP-19] Adapt monitoring configuration
  charts/gardener-extension-provider-azure/templates/rbac.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager-svc.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/prometheusrule.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/servicemonitor.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/configmap-dashboard.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/configmap-monitoring.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/prometheusrule.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/service.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/servicemonitor.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/values.yaml
  cmd/gardener-extension-provider-azure/app/app.go
  example/controller-registration.yaml
  go.mod
  pkg/azure/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m

#863 Fix DNSRecord cloudconfiguration
  hack/api-reference/api.md
  pkg/apis/azure/helper/scheme.go
  pkg/apis/azure/register.go
  pkg/apis/azure/types_dnsrecord.go
  pkg/apis/azure/v1alpha1/register.go
  pkg/apis/azure/v1alpha1/types_dnsrecord.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/dnsrecord/actuator_test.go
Labels: area/control-plane, kind/regression, kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/m, platform/azure

#862 controlplaneexposure-webhook: Don't do no-op mutations for Services and Deployments
  pkg/webhook/controlplaneexposure/add.go
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/azure, area/scalability

#855 Support for Kubernetes v1.30
  README.md
  imagevector/images.yaml
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, topology/garden, topology/seed, topology/shoot, platform/azure, merge/squash

#870 Update azurefile-csi-driver version
  imagevector/images.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/azure

#872 fix test package references in shared package
  go.mod
  go.sum
  pkg/controller/infrastructure/infraflow/shared/basic_context_test.go
  pkg/controller/infrastructure/infraflow/shared/tf_state_test.go
  pkg/controller/infrastructure/infraflow/shared/whiteboard_test.go
Labels: kind/technical-debt, needs/ok-to-test, needs/review, size/xs, platform/azure, area/testing

#874 fix nil pointer for dnsrecord
  pkg/controller/dnsrecord/actuator.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/azure
