Repository gardener/gardener-extension-provider-azure, pull requests merged in 2024-10, with the labels that each got.

#963 Support for Kubernetes v1.31
  README.md
  imagevector/images.yaml
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/second-opinion, reviewed/lgtm, size/l, topology/garden, topology/seed, topology/shoot, platform/azure, merge/squash

#956 Update vnet usage doc
  docs/usage/usage.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/azure

#978 fix natgw disassociation with subnet
  pkg/controller/infrastructure/infraflow/ensurer.go
  pkg/controller/infrastructure/infraflow/infra_adapter.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/azure

#353 Remove hardcoded os disk type check in the worker controller.
  pkg/controller/worker/machines.go
Labels: kind/cleanup, lifecycle/rotten, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#958 conditionally enable allow-egress LBs
  charts/internal/shoot-system-components/values.yaml
  hack/api-reference/api.md
  pkg/apis/azure/types_infrastructure.go
  pkg/apis/azure/v1alpha1/defaults.go
  pkg/apis/azure/v1alpha1/types_infrastructure.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/v1alpha1/zz_generated.defaults.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/infrastructure/infraflow/ensurer.go
  pkg/controller/infrastructure/terraform_reconciler_test.go
  pkg/internal/infrastructure/terraform.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/second-opinion, size/m, platform/azure

#983 Fix worker image embedding to be backwards compatible
  hack/api-reference/api.md
  pkg/apis/azure/helper/helper.go
  pkg/apis/azure/helper/helper_test.go
  pkg/apis/azure/types_worker.go
  pkg/apis/azure/v1alpha1/types_worker.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
Labels: area/quality, kind/bug, kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/s, platform/azure

#989 Update gardener/gardener to v1.105.0
  .ci/hack/set_dependency_version
  example/20-crd-extensions.gardener.cloud_workers.yaml
  go.mod
  go.sum
  pkg/controller/worker/machines_test.go
  pkg/webhook/controlplane/ensurer.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/azure

#988 Update ClusterRole CSI provisioner rules
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-provisioner.yaml
Labels: area/quality, kind/cleanup, needs/ok-to-test, needs/review, size/xs, platform/azure

#987 Add documentation for CloudConfiguration
  docs/usage/usage.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/azure
