Repository gardener/gardener-extension-provider-azure, pull requests merged in 2024-08, with the labels that each got.

#932 fix value passed to CCM
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#905 Add object selector to controlplane webhook with version constraint
  cmd/gardener-extension-provider-azure/app/app.go
  pkg/cmd/options.go
  pkg/webhook/controlplane/add.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/azure

#937 [release v1.46] make sure to also pass cloud instance name to CCM
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#936 make sure to also pass cloud instance name to CCM
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#939 Default to Public Azure Instance in DNSRecord Actuator
  pkg/controller/dnsrecord/actuator.go
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#938 [Release v1.46] Default to Public Azure Instance in DNSRecord Actuator
  pkg/controller/dnsrecord/actuator.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#933 Publish separate admission Helm charts
  .ci/pipeline_definitions
Labels: area/delivery, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/azure

#903 Add object selector to the shoot webhook
  pkg/webhook/acceleratednetwork/add.go
  pkg/webhook/acceleratednetwork/mutate.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure, area/scalability

#931 update backupbucket fields
  hack/api-reference/api.md
  pkg/apis/azure/helper/scheme.go
  pkg/apis/azure/register.go
  pkg/apis/azure/types_backup.go
  pkg/apis/azure/v1alpha1/register.go
  pkg/apis/azure/v1alpha1/types_backup.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/azure/client/factory.go
  pkg/azure/client/storage.go
  pkg/azure/types.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupbucket/secret.go
  pkg/controller/backupentry/actuator.go
  pkg/internal/infrastructure/terraform.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/m, platform/azure

#946 Infer cloud instance from bucket region when possible
  pkg/azure/client/storage.go
  pkg/controller/backupbucket/actuator.go
  pkg/internal/infrastructure/terraform.go
Labels: area/backup, kind/enhancement, needs/ok-to-test, needs/changes, needs/review, size/xs, platform/azure

#947 [Release v1.47] Infer cloud instance from bucket region when possible
  pkg/azure/client/storage.go
  pkg/controller/backupbucket/actuator.go
  pkg/internal/infrastructure/terraform.go
Labels: area/backup, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#951 Fix error handling
  pkg/controller/infrastructure/actuator_helper.go
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#945 Filter more strictly when looking at subnets
  pkg/controller/infrastructure/infraflow/ensurer.go
  pkg/controller/infrastructure/infraflow/infra_adapter.go
Labels: area/usability, kind/regression, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#952 [release v1.47] Fix error handling
  pkg/controller/infrastructure/actuator_helper.go
Labels: area/robustness, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#953 [release v1.47] filter more strictly when looking at subnets
  pkg/controller/infrastructure/infraflow/ensurer.go
  pkg/controller/infrastructure/infraflow/infra_adapter.go
Labels: area/usability, kind/regression, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure
