Repository gardener/gardener-extension-provider-azure, pull requests merged in 2024-06, with the labels that each got.

#880 fix nil pointer for dnsrecord deletion
  pkg/controller/dnsrecord/actuator.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/azure

#879 fix nil pointer for dnsrecord deletion
  pkg/controller/dnsrecord/actuator.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/azure

#882 Fix indentation in CCM ServiceMonitor
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/servicemonitor.yaml
Labels: area/monitoring, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#883 Fix possible Nullpointer-deref
  pkg/controller/infrastructure/infraflow/infra_adapter.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#884 [release-v1.44] Automated cherry pick of #882
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/servicemonitor.yaml
Labels: area/monitoring, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#885 [release-v1.44] Automated cherry pick of #883
  pkg/controller/infrastructure/infraflow/infra_adapter.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#896 Fix flow deletion foreign subnet
  pkg/azure/client/factory.go
  pkg/azure/client/loadbalancers.go
  pkg/azure/client/mock/mocks.go
  pkg/azure/client/types.go
  pkg/controller/infrastructure/infraflow/ensurer.go
  pkg/controller/infrastructure/infraflow/flow_context.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure

#881 Classify `OverconstrainedZonalAllocationRequest` as `ERR_RETRYABLE_CONFIGURATION_PROBLEM`
  pkg/apis/azure/helper/error_codes.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#835 confidential vm support
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  hack/api-reference/api.md
  pkg/apis/azure/helper/helper.go
  pkg/apis/azure/types_cloudprofile.go
  pkg/apis/azure/types_worker.go
  pkg/apis/azure/v1alpha1/types_cloudprofile.go
  pkg/apis/azure/v1alpha1/types_worker.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/azure/types.go
  pkg/controller/worker/machine_images.go
  pkg/controller/worker/machines.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, needs/second-opinion, size/m, platform/azure

#898 Replace occurrences of + in operating system labels for MachineClasses with _
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/azure

#852 Provide Egress CIDRs in Infra Status
  pkg/controller/infrastructure/flow_reconciler.go
  pkg/controller/infrastructure/infraflow/ensurer.go
  pkg/controller/infrastructure/infraflow/flow_context.go
  pkg/controller/infrastructure/infraflow/provider_utils.go
  pkg/controller/infrastructure/infraflow/shared/tf_state.go
  pkg/controller/infrastructure/terraform_reconciler.go
  pkg/internal/infrastructure/helper.go
  pkg/internal/infrastructure/terraform.go
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, needs/changes, size/m, platform/azure

#808 Enable vm boot diagnostics
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  docs/usage/usage.md
  example/30-worker.yaml
  hack/api-reference/api.md
  pkg/apis/azure/types_worker.go
  pkg/apis/azure/v1alpha1/types_worker.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/usability, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/azure

#901 rename file to canonical provider name
  .test-defs/apply-flow-azure.yaml
Labels: kind/technical-debt, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure, area/testing

#904 rename maintenance test
  .test-defs/apply-flow-azure.yaml
Labels: kind/technical-debt, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, status/closed, platform/azure, area/testing
