Repository gardener/gardener-extension-provider-azure, pull requests merged in 2024-04, with the labels that each got.

#806 Add feature gate to disable Remedy Controller Deployment
  charts/gardener-extension-provider-azure/templates/configmap.yaml
  charts/gardener-extension-provider-azure/templates/deployment.yaml
  charts/gardener-extension-provider-azure/values.yaml
  cmd/gardener-extension-provider-azure/app/app.go
  example/00-componentconfig.yaml
  example/controller-registration.yaml
  hack/api-reference/config.md
  pkg/apis/config/types.go
  pkg/apis/config/v1alpha1/types.go
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/features/features.go
Labels: area/quality, kind/api-change, kind/task, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#816 add operatingsystem label
  charts/internal/machineclass/templates/machineclass.yaml
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/ops-productivity, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/azure

#833 Switch to new SDK clients and update deps
  go.mod
  go.sum
  pkg/azure/client/dnsrecordset.go
  pkg/azure/client/dnszone.go
  pkg/azure/client/factory.go
  pkg/azure/client/mock/mocks.go
  pkg/azure/client/storageaccount.go
  pkg/azure/client/types.go
  pkg/azure/client/useridentity.go
  pkg/azure/client/vmImage.go
  pkg/controller/bastion/actuator_reconcile.go
  pkg/controller/infrastructure/infraflow/ensurer.go
  test/integration/bastion/bastion_test.go
  test/integration/bastion/matchers.go
  test/integration/infrastructure/infrastructure_test.go
  test/integration/infrastructure/matchers.go
Labels: area/quality, kind/api-change, kind/task, needs/ok-to-test, reviewed/lgtm, size/xl, platform/azure

#841 add rg deletion at end of tf.destroy
  pkg/controller/infrastructure/terraform_reconciler.go
  pkg/controller/infrastructure/terraform_reconciler_test.go
  pkg/internal/infrastructure/helper.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#842 [release-v1.42] Automated cherry pick of #841: add rg deletion at end of tf.destroy
  pkg/controller/infrastructure/terraform_reconciler.go
  pkg/controller/infrastructure/terraform_reconciler_test.go
  pkg/internal/infrastructure/helper.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s

#843 delete empty RGs on infra creation
  pkg/apis/azure/helper/scheme.go
  pkg/azure/client/factory.go
  pkg/azure/client/mock/mocks.go
  pkg/azure/client/resources.go
  pkg/azure/client/types.go
  pkg/controller/infrastructure/infraflow/flow_context.go
  pkg/controller/infrastructure/infraflow/infra_adapter.go
  pkg/controller/infrastructure/terraform_reconciler.go
  pkg/internal/infrastructure/helper.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/azure

#849 Update azblob SDK client
  go.mod
  go.sum
  pkg/azure/client/factory.go
  pkg/azure/client/storage.go
  pkg/azure/client/types.go
Labels: area/quality, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure

#848 Categorize overlapping subnet error
  pkg/apis/azure/helper/error_codes.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure
