Repository gardener/gardener-extension-provider-azure, pull requests merged in 2024-12, with the labels that each got.

#1025 Availability set deprecation
  .gitignore
  Makefile
  hack/api-reference/api.md
  pkg/admission/validator/shoot.go
  pkg/apis/azure/helper/helper.go
  pkg/apis/azure/helper/helper_test.go
  pkg/apis/azure/types_infrastructure.go
  pkg/apis/azure/v1alpha1/types_infrastructure.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/validation/infrastructure.go
  pkg/apis/azure/validation/infrastructure_test.go
  pkg/azure/client/loadbalancers.go
  pkg/azure/client/types.go
  pkg/azure/types.go
  pkg/controller/infrastructure/infraflow/const.go
  pkg/controller/infrastructure/infraflow/ensurer.go
  pkg/controller/infrastructure/infraflow/flow_context.go
  pkg/controller/infrastructure/infraflow/infra_adapter.go
  pkg/controller/infrastructure/infraflow/migrations.go
  pkg/controller/infrastructure/infraflow/shared/whiteboard.go
  pkg/controller/worker/machine_dependencies_test.go
  pkg/internal/infrastructure/terraform_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/xl, platform/azure

#1021 Validate `NamespacedCloudProfile` `MachineImage` architectures against providerConfig
  pkg/admission/validator/namespacedcloudprofile.go
  pkg/admission/validator/namespacedcloudprofile_test.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/azure

#1035 Fix flow reconcile ensure public ip
  pkg/azure/types.go
  pkg/controller/infrastructure/infraflow/ensurer.go
Labels: area/usability, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/azure

#1036 Fix flow reconcile ensure public ip release v.1.48
  pkg/azure/types.go
  pkg/controller/infrastructure/infraflow/ensurer.go
Labels: area/usability, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/azure

#1037 Fix flow reconcile ensure public ip release v.1.49
  pkg/azure/types.go
  pkg/controller/infrastructure/infraflow/ensurer.go
Labels: area/usability, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/azure

#1032 fix: use UDP for upstream DNS by default
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/azure

#1039 Use Subresource to mutate NamespacedCloudProfile status
  pkg/admission/mutator/webhook.go
Labels: area/usability, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1041 [cherry-pick: v1.49] Use Subresource to mutate NamespacedCloudProfile status
  pkg/admission/mutator/webhook.go
Labels: area/usability, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1044 Update gardener to v1.110.0
  example/20-crd-druid.gardener.cloud_etcds.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  go.mod
  go.sum
  pkg/apis/azure/validation/infrastructure.go
  pkg/cmd/options.go
  pkg/webhook/acceleratednetwork/mutate.go
  pkg/webhook/cloudprovider/ensurer.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/highavailability/namespace/mutator.go
  pkg/webhook/infrastructure/flow.go
  pkg/webhook/infrastructure/infrastructure.go
  pkg/webhook/infrastructure/layout.go
  pkg/webhook/topology/mutator.go
Labels: area/usability, kind/cleanup, needs/ok-to-test, needs/review, needs/second-opinion, size/l, platform/azure

#1038 Update docs for non zonal cluster
  docs/usage/usage.md
Labels: area/quality, kind/cleanup, needs/ok-to-test, needs/review, size/xs, platform/azure

#1046 Remove VPA for the csi-driver-node-disk and csi-driver-node-file DaemonSets
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/vpa-disk.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/vpa-file.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/vpa.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  charts/internal/shoot-system-components/values.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure, area/auto-scaling
