Repository gardener/gardener-extension-provider-azure, pull requests merged in 2024-11, with the labels that each got.

#998 Remove the provider type predicates in webhooks
  pkg/admission/mutator/webhook.go
  pkg/admission/validator/webhook.go
Labels: area/usability, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#993 Enforce restriction with regards to IPv6 support
  pkg/admission/validator/shoot_test.go
  pkg/apis/azure/validation/shoot.go
Labels: area/networking, area/robustness, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#1007 Address TODO after vendoring github.com/gardener/gardener@v1.106
  pkg/webhook/controlplane/ensurer.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#1006 Introduce gosec
  Makefile
  pkg/apis/azure/validation/shoot.go
  pkg/apis/config/loader/loader.go
  pkg/azure/types.go
  pkg/controller/worker/machines.go
  pkg/internal/infrastructure/terraform.go
  pkg/internal/terraform.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#1008 enable extra-create-metadata in csi provisioner
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment.tpl
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, reviewed/lgtm, size/xs, platform/azure

#1009 Update Kubernetes 1.31 conformance test coverage
  README.md
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/azure

#1004 Fix multi-subnet subnet name calculation
  Dockerfile
  pkg/controller/infrastructure/infraflow/infra_adapter.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/azure

#992 Add support for VolumeAttributesClasses
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment.tpl
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-attacher.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-resizer.yaml
  docs/usage/usage.md
  pkg/azure/types.go
  pkg/controller/controlplane/valuesprovider.go
Labels: area/storage, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#1011 Cleanup object selector version constraint
  cmd/gardener-extension-provider-azure/app/app.go
  pkg/cmd/options.go
  pkg/webhook/controlplane/add.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#1014 Update gardener/gardener to v1.108.0
  go.mod
  go.sum
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/azure

#1017 remove outdate lb migration documentation
  docs/usage/migrate-loadbalancer.md
Labels: area/documentation, kind/technical-debt, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/azure

#1018 Respect cloud configuration in dnsrecord
  hack/api-reference/api.md
  pkg/apis/azure/helper/scheme.go
  pkg/apis/azure/register.go
  pkg/apis/azure/types_dnsrecord.go
  pkg/apis/azure/v1alpha1/register.go
  pkg/apis/azure/v1alpha1/types_dnsrecord.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/azure/client/factory.go
  pkg/azure/client/helper.go
  pkg/azure/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/dnsrecord/actuator_test.go
  pkg/controller/infrastructure/flow_reconciler.go
  pkg/internal/auth.go
  pkg/internal/auth_test.go
Labels: area/control-plane, kind/technical-debt, kind/api-change, needs/ok-to-test, needs/review, needs/second-opinion, size/l, platform/azure

#1016 Add `NamespacedCloudProfile` validation and mutation webhooks
  pkg/admission/mutator/namespacedcloudprofile.go
  pkg/admission/mutator/namespacedcloudprofile_test.go
  pkg/admission/mutator/webhook.go
  pkg/admission/validator/namespacedcloudprofile.go
  pkg/admission/validator/namespacedcloudprofile_test.go
  pkg/admission/validator/webhook.go
  pkg/apis/azure/validation/cloudprofile.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, needs/second-opinion, size/xl, platform/azure
