Repository gardener/gardener-extension-provider-azure, pull requests merged in 2024-03, with the labels that each got.

#790 Update default storage account SKU to StandardZRS
  pkg/azure/client/storageaccount.go
Labels: area/storage, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#801 only apply HA-ns webhook on HA type zone
  pkg/webhook/highavailability/namespace/mutator.go
  pkg/webhook/highavailability/namespace/mutator_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#804 Update Terraformer in v1.41
  imagevector/images.yaml
Labels: needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs

#807 Adjust test parameters
  test/integration/infrastructure/infrastructure_test.go
Labels: needs/ok-to-test, needs/review, size/xs

#805 Remove `source-` prefix from `BackupEntry` when performing deletion
  pkg/controller/backupentry/actuator.go
Labels: kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/control-plane-migration, platform/azure

#802 rm meta-record deletion, update tests
  pkg/controller/dnsrecord/actuator.go
  pkg/controller/dnsrecord/actuator_test.go
Labels: area/networking, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#769 Drop support for Shoots with Kubernetes version == 1.24
  README.md
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager-psp-clusterrole.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager-psp-rolebinding.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager-psp.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrole-csi-driver.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/podsecuritypolicy.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/values.yaml
  docs/operations/operations.md
  docs/usage/usage.md
  example/10-fake-shoot-controlplane.yaml
  example/30-controlplane.yaml
  example/30-worker.yaml
  imagevector/images.yaml
  pkg/apis/azure/validation/controlplane_test.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure

#789 Adapt PDBs to use `unhealthyPodEvictionPolicy: AlwaysAllow`
  charts/gardener-extension-admission-azure/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener-extension-admission-azure/charts/runtime/templates/service.yaml
  charts/gardener-extension-provider-azure/templates/poddisruptionbudget.yaml
  charts/gardener-extension-provider-azure/templates/service.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/poddisruptionbudget.tpl
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/poddisruptionbudget.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
  example/controller-registration.yaml
Labels: kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/azure

#810 calculate vnet name correctly in infra status
  pkg/controller/infrastructure/infraflow/ensurer.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/bug, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/azure

#811 increase period of deprecated node labels until k8s v1.29
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
Labels: area/control-plane, kind/bug, kind/regression, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#812 [release-v1.42] Automated cherry pick of #810: calculate vnet name correctly in infra status
  pkg/controller/infrastructure/infraflow/ensurer.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/control-plane, kind/bug, kind/enhancement, needs/ok-to-test, needs/review, size/s

#813 [release-v1.42] Automated cherry pick of #811: increase period of deprecated node labels until k8s v1.29
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
Labels: area/control-plane, kind/bug, kind/regression, needs/ok-to-test, needs/review, size/xs

#809 Update images
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotclasses.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshotcontents.yaml
  charts/internal/shoot-crds/charts/volumesnapshots/templates/crd-volumesnapshots.yaml
  imagevector/images.yaml
Labels: kind/task, needs/ok-to-test, needs/review, size/s, platform/azure
