Repository gardener/gardener-extension-provider-azure, pull requests merged in 2025-05, with the labels that each got.

#1108 Remove wildcard RBAC resources
  charts/gardener-extension-provider-azure/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-azure/templates/rbac.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/role.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/rbac-cloud-controller.yaml
  charts/internal/shoot-system-components/charts/remedy-controller-azure/templates/clusterrole.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure, area/compliance

#1115 Remove unused `hostPaths` from `csi-driver-node`
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.tpl
Labels: area/security, kind/enhancement, kind/cleanup, needs/ok-to-test, needs/review, size/xs, platform/azure, area/compliance

#1170 Update gardener/gardener to v1.118.0
  charts/gardener-extension-provider-azure/templates/deployment.yaml
  charts/gardener-extension-provider-azure/values.yaml
  cmd/gardener-extension-admission-azure/app/app.go
  cmd/gardener-extension-provider-azure/app/app.go
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/controller-registration.yaml
  go.mod
  go.sum
  pkg/controller/worker/add.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure

#1174 [release-v1.52] Automated cherry pick of #1166: [ci:component:github.com/gardener/machine-controller-manager-provider-azure:v0.15.1->v0.16.0]
  imagevector/images.yaml
Labels: kind/bug, needs/ok-to-test, needs/review, size/xs

#1176 Purge unused Machine Controller Deployment RBAC resources
  cmd/gardener-extension-provider-azure/app/app.go
  cmd/gardener-extension-provider-azure/app/migrations.go
Labels: area/security, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#1183 Restore provider controller's start function
  cmd/gardener-extension-provider-azure/app/app.go
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1155 Improve workload identity documentation
  docs/usage/usage.md
Labels: area/documentation, area/security, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/azure

#1177 Clean up leaked csi-snapshot-validation VerticalPodAutoscaler and PodDisruptionBudget
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, needs/review, size/xs, platform/azure
