Repository gardener/gardener-extension-provider-azure, pull requests merged in 2025-09, with the labels that each got.

#1269 Adjust required permissions for `upgrade-dependencies.yaml` workflow
  .github/workflows/upgrade-dependencies.yaml
Labels: reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1246 Add NAT creation check
  test/integration/infrastructure/infrastructure_test.go
Labels: reviewed/lgtm, size/xs, platform/azure

#1257 Enforce NAT-Gateway enabled for new shoots
  docs/usage/usage.md
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  pkg/azure/types.go
  pkg/features/features.go
Labels: kind/enhancement, needs/changes, reviewed/ok-to-test, size/l, platform/azure, area/compliance

#1272 Fix nil check
  pkg/admission/mutator/shoot.go
Labels: reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1276 Fix admission OCI build
  .github/workflows/build.yaml
Labels: needs/ok-to-test, needs/review, size/xs, platform/azure

#1278 Fix storageclass template indentation
  charts/gardener-extension-provider-azure/templates/storageclass.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/azure

#1280 Add ai summary/review action
  .github/workflows/ai-pr-summary.yaml
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#1265 [GEP-26] Add support for Workload Identity credentials to etcd backups
  Makefile
  docs/operations/operations.md
  docs/usage/usage.md
  pkg/admission/decode.go
  pkg/admission/validator/credentialsbinding.go
  pkg/admission/validator/credentialsbinding_test.go
  pkg/admission/validator/seed.go
  pkg/admission/validator/webhook.go
  pkg/admission/validator/workloadidentity.go
  pkg/admission/validator/workloadidentity_test.go
  pkg/apis/azure/helper/scheme.go
  pkg/apis/azure/helper/scheme_test.go
  pkg/azure/client/auth.go
  pkg/azure/client/auth_test.go
  pkg/controller/backupbucket/actuator.go
  pkg/webhook/cloudprovider/ensurer.go
  pkg/webhook/cloudprovider/ensurer_test.go
Labels: area/documentation, area/security, kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, size/xl, platform/azure, area/ipcei

#1266 Minimum runtime RBAC permissions
  charts/gardener-extension-provider-azure/templates/rbac-runtime.yaml
  example/controller-registration.yaml
Labels: area/control-plane, kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1295 Shoot input validation
  pkg/apis/azure/types_controlplane.go
  pkg/apis/azure/validation/filter.go
  pkg/apis/azure/validation/infrastructure.go
  pkg/apis/azure/validation/infrastructure_test.go
  pkg/apis/azure/validation/worker.go
  pkg/apis/azure/validation/worker_test.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, platform/azure
