Repository gardener/gardener-extension-provider-azure, pull requests merged in 2025-06, with the labels that each got.

#1191 Change exported consts to unexported
  .gitignore
  test/integration/backupbucket/backupbucket_test.go
  test/integration/backupbucket/helper_test.go
Labels: kind/test, needs/ok-to-test, needs/review, size/xs, platform/azure, area/testing

#1190 Add a predicate to reconcile the extension for `StorageAccountKeyMustRotate` annotation
  pkg/controller/backupbucket/add.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1165 Remove `podAntiAffinity` in favor of TSCs.
  charts/gardener-extension-provider-azure/templates/deployment.yaml
  example/controller-registration.yaml
Labels: area/dev-productivity, area/high-availability, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1195 extension: Fix RBAC issues
  charts/gardener-extension-provider-azure/templates/rbac.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/role.yaml
  example/controller-registration.yaml
Labels: area/security, kind/regression, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1196 extension: Fix RBAC issues
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/role.yaml
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, status/closed, platform/azure
