Repository gardener/gardener-extension-provider-azure, pull requests merged in 2025-01, with the labels that each got.

#1057 fix inventory for deleted resources
  pkg/controller/infrastructure/infraflow/ensurer.go
  pkg/controller/infrastructure/infraflow/ensurer_helper.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/s, platform/azure

#1058 Rename to `seedprovider` webhook
  cmd/gardener-extension-provider-azure/app/app.go
  pkg/cmd/options.go
  pkg/webhook/seedprovider/add.go
  pkg/webhook/seedprovider/ensurer.go
  pkg/webhook/seedprovider/ensurer_test.go
Labels: area/dev-productivity, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#907 Fix restoration of infra with migrated network layout
  pkg/apis/azure/helper/scheme.go
  pkg/apis/azure/helper/scheme_test.go
  pkg/controller/infrastructure/actuator_helper.go
  pkg/controller/infrastructure/flow_reconciler.go
  pkg/controller/infrastructure/infraflow/ensurer.go
  pkg/controller/infrastructure/strategyselector.go
  pkg/webhook/infrastructure/layout.go
  pkg/webhook/infrastructure/layout_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/m, area/control-plane-migration, platform/azure

#1063 Update dependency-images
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-deployment.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-service.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-validation-webhook-vpa.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/clusterrolebinding-snapshot-validation.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/csi-snapshot-validation-webhook.yaml
  imagevector/images.yaml
  pkg/azure/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/healthcheck/add.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/l, platform/azure

#1020 Fix cloudprofile validation
  pkg/admission/validator/cloudprofile.go
  pkg/admission/validator/namespacedcloudprofile.go
  pkg/apis/azure/validation/cloudprofile.go
  pkg/apis/azure/validation/cloudprofile_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/second-opinion, reviewed/lgtm, size/l, platform/azure

#1077 fix incorrect gardenkubeconfig on admission ctrl startup
  cmd/gardener-extension-admission-azure/app/app.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure
