Repository gardener/gardener-extension-provider-azure, pull requests merged in 2025-04, with the labels that each got.

#1131 docs: Add conformance test results badge for Kubernetes v1.32
  README.md
Labels: area/documentation, area/open-source, kind/task, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1132 Address TODOs for legacy NetworkPolicy labels
  charts/gardener-extension-provider-azure/templates/service.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/cleanup, needs/ok-to-test, needs/review, reviewed/lgtm, size/xs, platform/azure

#1070 Use ServiceTrafficDistribution to make Services topology-aware when runtime Kubernetes >= 1.31
  charts/gardener-extension-admission-azure/charts/runtime/templates/service.yaml
  charts/gardener-extension-provider-azure/templates/service.yaml
  example/controller-registration.yaml
Labels: area/high-availability, area/networking, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1137 Fix comment typos
  pkg/controller/infrastructure/infraflow/ensurer.go
Labels: area/quality, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1136 Switch Slack references to Gardener workspace
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#1138 Fix variable name
  pkg/controller/infrastructure/infraflow/ensurer.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1140 Update base image to `debian12`
  Dockerfile
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1118 Also publish arm64 images
  .ci/pipeline_definitions
Labels: area/usability, kind/task, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1143 Correctly mount workload identity token to csi driver controller
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1145 [release-v1.51] Automated cherry pick of #1143: Correctly mount workload identity token to csi driver controller
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/security, kind/bug, needs/ok-to-test, needs/review, size/xs

#1142 Cleanup TODOs related to legacy monitoring configuration
  charts/gardener-extension-provider-azure/templates/rbac.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/prometheusrule.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/servicemonitor.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/configmap-dashboard.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/configmap-monitoring.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/prometheusrule.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/servicemonitor.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/values.yaml
  example/controller-registration.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/monitoring, kind/cleanup, needs/ok-to-test, needs/review, size/m, platform/azure

#1150 Vendor `gardener/gardener` to `v1.117.0`
  .github/ISSUE_TEMPLATE/support.md
  .golangci.yaml
  charts/gardener-extension-provider-azure/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-azure/templates/rbac.yaml
  cmd/gardener-extension-provider-azure/app/app.go
  example/20-crd-druid.gardener.cloud_etcdcopybackupstasks.yaml
  example/20-crd-druid.gardener.cloud_etcds.yaml
  example/20-crd-extensions.gardener.cloud_backupbuckets.yaml
  example/20-crd-extensions.gardener.cloud_backupentries.yaml
  example/20-crd-extensions.gardener.cloud_bastions.yaml
  example/20-crd-extensions.gardener.cloud_clusters.yaml
  example/20-crd-extensions.gardener.cloud_containerruntimes.yaml
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  example/20-crd-extensions.gardener.cloud_dnsrecords.yaml
  example/20-crd-extensions.gardener.cloud_extensions.yaml
  example/20-crd-extensions.gardener.cloud_infrastructures.yaml
  example/20-crd-extensions.gardener.cloud_networks.yaml
  example/20-crd-extensions.gardener.cloud_operatingsystemconfigs.yaml
  example/20-crd-extensions.gardener.cloud_workers.yaml
  example/20-crd-resources.gardener.cloud_managedresources.yaml
  example/controller-registration.yaml
  example/doc.go
  go.mod
  go.sum
  pkg/apis/azure/helper/helper_test.go
  pkg/apis/azure/validation/backupbucket.go
  pkg/azure/client/natgateway.go
  pkg/azure/client/publicip.go
  pkg/azure/client/vmss.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/infrastructure/infraflow/shared/tf_state.go
  pkg/controller/infrastructure/terraform_reconciler.go
  pkg/controller/infrastructure/terraform_reconciler_test.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/controller/worker/machineset_vmo.go
  pkg/internal/auth.go
  pkg/webhook/cloudprovider/ensurer.go
  pkg/webhook/infrastructure/layout_test.go
  pkg/webhook/seedprovider/add.go
  pkg/webhook/seedprovider/ensurer.go
  pkg/webhook/seedprovider/ensurer_test.go
  test/integration/bastion/bastion_test.go
Labels: area/open-source, needs/ok-to-test, needs/rebase, needs/review, needs/second-opinion, size/xl, platform/azure

#1084 add vmo migration doc
  docs/usage/usage.md
Labels: needs/ok-to-test, needs/review, reviewed/ok-to-test, size/xs

#1154 Chore: extend golangci yaml
  .golangci.yaml
  cmd/gardener-extension-admission-azure/main.go
  cmd/gardener-extension-provider-azure/app/app.go
  cmd/gardener-extension-provider-azure/main.go
  go.mod
  pkg/admission/mutator/shoot.go
  pkg/admission/mutator/shoot_test.go
  pkg/admission/validator/namespacedcloudprofile_test.go
  pkg/apis/azure/helper/helper_test.go
  pkg/apis/azure/validation/infrastructure.go
  pkg/apis/azure/validation/infrastructure_test.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/bastion_test.go
  pkg/controller/controlplane/actuator_test.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/infrastructure/actuator_helper.go
  pkg/controller/infrastructure/infraflow/access.go
  pkg/controller/infrastructure/infraflow/ensurer.go
  pkg/controller/infrastructure/infraflow/infra_adapter.go
  pkg/controller/infrastructure/infraflow/shared/basic_context.go
  pkg/controller/infrastructure/infraflow/shared/basic_context_test.go
  pkg/controller/infrastructure/infraflow/shared/tf_state_test.go
  pkg/controller/infrastructure/terraform_reconciler.go
  pkg/controller/worker/machine_dependencies_test.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/features/features.go
  pkg/internal/infrastructure/terraform.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
  pkg/webhook/infrastructure/flow_test.go
  pkg/webhook/infrastructure/layout_test.go
  pkg/webhook/topology/mutator_test.go
  test/integration/bastion/bastion_test.go
  test/integration/infrastructure/helper_test.go
  test/integration/infrastructure/infrastructure_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/l, platform/azure

#1159 Update CCM image from v1.32.0 to v1.32.4
  imagevector/images.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/azure

#1158 chore: update images
  imagevector/images.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/azure

#1160 Rm deprecated pkg azure autorest
  go.mod
  go.sum
  pkg/azure/client/dnsrecordset.go
  pkg/azure/client/helper.go
  pkg/azure/client/helper_test.go
  pkg/controller/bastion/actuator_delete.go
  pkg/controller/bastion/bastion_test.go
  pkg/controller/bastion/options.go
  pkg/controller/infrastructure/terraform_reconciler_test.go
  pkg/controller/worker/machine_dependencies_test.go
  test/integration/bastion/bastion_test.go
Labels: area/robustness, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/azure

#1116 add DNS record integration tests
  .ci/testruns/default/templates/testrun.yaml
  .test-defs/dnsrecord-test.yaml
  Makefile
  test/integration/bastion/bastion_test.go
  test/integration/bastion/matchers.go
  test/integration/dnsrecord/dnsrecord_suite_test.go
  test/integration/dnsrecord/dnsrecord_test.go
  test/integration/infrastructure/infrastructure_test.go
  test/utils/matchers.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xl, platform/azure, area/testing
