Repository gardener/gardener-extension-provider-azure, pull requests merged in 2025-02, with the labels that each got.

#1083 fix missing location avset
  pkg/controller/infrastructure/infraflow/infra_adapter.go
Labels: reviewed/ok-to-test

#1082 Forbid container privilege escalations
  charts/gardener-extension-admission-azure/charts/runtime/templates/deployment.yaml
  charts/gardener-extension-provider-azure/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment-csi-snapshot-controller.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment.tpl
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/deployment.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
  charts/internal/shoot-system-components/charts/csi-driver-node/templates/daemonset.tpl
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/azure, area/compliance

#1090 Make extension ports configurable via helm values
  charts/gardener-extension-provider-azure/templates/deployment.yaml
  charts/gardener-extension-provider-azure/templates/service.yaml
  charts/gardener-extension-provider-azure/values.yaml
  example/controller-registration.yaml
Labels: area/networking, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, size/s, platform/azure

#999 [GEP-26] Workload Identity support
  charts/internal/cloud-provider-config/templates/azure-credentials.tpl
  charts/internal/cloud-provider-config/values.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/cloud-controller-manager.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/deployment.tpl
  charts/internal/seed-controlplane/charts/csi-driver-controller/values.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/remedy-controller-azure/values.yaml
  docs/usage/images/federated_credential.png
  docs/usage/usage.md
  go.mod
  hack/api-reference/api.md
  pkg/admission/decode.go
  pkg/admission/validator/credentialsbinding.go
  pkg/admission/validator/credentialsbinding_test.go
  pkg/admission/validator/webhook.go
  pkg/admission/validator/workloadidentity.go
  pkg/admission/validator/workloadidentity_test.go
  pkg/apis/azure/register.go
  pkg/apis/azure/types_workloadidentity.go
  pkg/apis/azure/v1alpha1/register.go
  pkg/apis/azure/v1alpha1/types_workloadidentity.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/validation/workloadidentity.go
  pkg/apis/azure/validation/workloadidentity_test.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/azure/types.go
  pkg/cmd/options.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/infrastructure/terraform_reconciler.go
  pkg/controller/infrastructure/terraform_reconciler_test.go
  pkg/internal/auth.go
  pkg/internal/auth_test.go
  pkg/internal/infrastructure/templates/main.tpl.tf
  pkg/internal/infrastructure/templates/variables.tf
  pkg/internal/infrastructure/terraform.go
  pkg/internal/infrastructure/terraform_test.go
  pkg/internal/terraform.go
  pkg/internal/terraform_test.go
  pkg/webhook/cloudprovider/ensurer.go
  pkg/webhook/cloudprovider/ensurer_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
  pkg/webhook/terraformer/add.go
  pkg/webhook/terraformer/mutator.go
  pkg/webhook/terraformer/mutator_test.go
  pkg/webhook/terraformer/terraformer_suite_test.go
Labels: area/security, kind/api-change, kind/enhancement, needs/ok-to-test, needs/rebase, needs/review, needs/second-opinion, size/xl, platform/azure, area/ipcei

#1097 [Release 1.50] Cleanup snapshot-validation leftovers
  pkg/azure/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/azure

#1099 skip the deployment of allow-egress chart with new annotation
  docs/usage/usage.md
  pkg/azure/types.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/s, platform/azure

#1102 chore: Update go to 1.24
  .test-defs/apply-flow-azure.yaml
  .test-defs/bastion-test.yaml
  .test-defs/infrastructure-test.yaml
  .test-defs/provider-azure.yaml
  go.mod
Labels: area/open-source, kind/task, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure
