Repository gardener/gardener-extension-provider-azure, pull requests merged in 2025-03, with the labels that each got.

#1105 Fix Deployment in Garden Runtime Cluster
  charts/gardener-extension-provider-azure/templates/_helpers.tpl
  charts/gardener-extension-provider-azure/templates/deployment.yaml
  charts/gardener-extension-provider-azure/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-azure/templates/rbac.yaml
  charts/gardener-extension-provider-azure/templates/service.yaml
  charts/gardener-extension-provider-azure/templates/storageclass.yaml
  charts/gardener-extension-provider-azure/values.yaml
  example/controller-registration.yaml
Labels: area/delivery, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, platform/azure

#1052 Fix reconciliation of user managed public IPs in flow
  pkg/controller/infrastructure/infraflow/const.go
  pkg/controller/infrastructure/infraflow/ensurer.go
  pkg/controller/infrastructure/infraflow/infra_adapter.go
  pkg/controller/infrastructure/strategyselector_test.go
Labels: area/quality, kind/bug, needs/ok-to-test, reviewed/lgtm, size/s, platform/azure

#1107 Pass worker pool priority to MachineDeployment during generation
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1098 Add support for container-level immutability to Azure Blob Storage Containers
  charts/gardener-extension-provider-azure/templates/configmap.yaml
  charts/gardener-extension-provider-azure/values.yaml
  docs/usage/azure-permissions.md
  docs/usage/usage.md
  example/00-componentconfig.yaml
  example/30-backupbucket.yaml
  example/controller-registration.yaml
  hack/api-reference/api.md
  pkg/admission/validator/seed.go
  pkg/admission/validator/seed_test.go
  pkg/admission/validator/webhook.go
  pkg/apis/azure/helper/scheme.go
  pkg/apis/azure/register.go
  pkg/apis/azure/types_backup.go
  pkg/apis/azure/v1alpha1/types_backup.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/validation/backupbucket.go
  pkg/apis/azure/validation/backupbucket_test.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/azure/client/blobcontainers.go
  pkg/azure/client/factory.go
  pkg/azure/client/managementpolicies.go
  pkg/azure/client/mock/doc.go
  pkg/azure/client/mock/mocks.go
  pkg/azure/client/storage.go
  pkg/azure/client/types.go
  pkg/azure/types.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupbucket/actuator_test.go
  pkg/controller/backupbucket/add.go
  pkg/controller/backupbucket/backupbucket.go
  pkg/controller/backupbucket/backupbucket_suite_test.go
  pkg/controller/backupentry/actuator.go
  pkg/controller/worker/machines.go
  pkg/features/features.go
Labels: area/backup, area/security, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, platform/azure

#1120 Allow admission to get workloadidentities
  charts/gardener-extension-admission-azure/charts/application/templates/rbac.yaml
Labels: area/security, kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1117 extension chart: Improve if/else condition statements
  charts/gardener-extension-provider-azure/templates/_helpers.tpl
  charts/gardener-extension-provider-azure/templates/deployment.yaml
  charts/gardener-extension-provider-azure/templates/rbac-runtime.yaml
  charts/gardener-extension-provider-azure/templates/rbac.yaml
  charts/gardener-extension-provider-azure/templates/service.yaml
  example/controller-registration.yaml
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, needs/review, reviewed/lgtm, size/s, platform/azure

#1122 Update worker pool hash if diagnosticProfile is enabled
  pkg/controller/worker/machines.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1061 Update doc with respect to update behaviour
  docs/operations/operations.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#997 Drop support for Shoots with Kubernetes version <= 1.26
  README.md
  charts/gardener-extension-admission-azure/charts/runtime/templates/poddisruptionbudget.yaml
  charts/gardener-extension-admission-azure/charts/runtime/templates/service.yaml
  charts/gardener-extension-provider-azure/templates/poddisruptionbudget.yaml
  charts/gardener-extension-provider-azure/templates/service.yaml
  charts/internal/seed-controlplane/charts/cloud-controller-manager/templates/poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/csi-snapshot-controller-poddisruptionbudget.yaml
  charts/internal/seed-controlplane/charts/csi-driver-controller/templates/poddisruptionbudget.tpl
  charts/internal/seed-controlplane/charts/remedy-controller-azure/templates/poddisruptionbudget.yaml
  charts/internal/shoot-system-components/charts/cloud-controller-manager/templates/cloud-node-manager.yaml
  example/controller-registration.yaml
  hack/api-reference/api.json
  hack/api-reference/api.md
  hack/api-reference/config.json
  imagevector/images.yaml
  pkg/controller/worker/machines_test.go
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/m, platform/azure

#1114 Implement etcd credential rotation
  docs/usage/azure-permissions.md
  docs/usage/usage.md
  example/30-backupbucket.yaml
  hack/api-reference/api.md
  pkg/apis/azure/types_backup.go
  pkg/apis/azure/v1alpha1/types_backup.go
  pkg/apis/azure/v1alpha1/zz_generated.conversion.go
  pkg/apis/azure/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/azure/validation/backupbucket.go
  pkg/apis/azure/validation/backupbucket_test.go
  pkg/apis/azure/zz_generated.deepcopy.go
  pkg/azure/client/helper.go
  pkg/azure/client/mock/mocks.go
  pkg/azure/client/storage.go
  pkg/azure/client/storageaccount.go
  pkg/azure/client/types.go
  pkg/azure/types.go
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupbucket/actuator_test.go
  pkg/controller/backupbucket/backupbucket.go
  pkg/controller/backupbucket/secret.go
Labels: area/control-plane, kind/api-change, kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xl, platform/azure

#1128 fix error message on backupbucket validation
  pkg/apis/azure/validation/backupbucket.go
  pkg/apis/azure/validation/backupbucket_test.go
Labels: area/control-plane, kind/technical-debt, needs/ok-to-test, reviewed/lgtm, size/xs, platform/azure

#1129 Fix order rotation
  pkg/controller/backupbucket/actuator.go
  pkg/controller/backupbucket/actuator_test.go
  pkg/controller/backupbucket/backupbucket.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/review, size/s, platform/azure
