Repository gardener/gardener-extension-provider-azure, pull requests merged in 2025-08, with the labels that each got.

#1206 Add backupbucket integration tests for extended features
  test/integration/backupbucket/backupbucket_test.go
  test/integration/backupbucket/helper_test.go
Labels: needs/ok-to-test, reviewed/lgtm

#1216 Drop support for Shoots with Kubernetes version <= 1.28
  README.md
  charts/internal/seed-controlplane/charts/cloud-controller-manager/values.yaml
  docs/operations/operations.md
  docs/usage/usage.md
  example/10-fake-shoot-controlplane.yaml
  example/30-controlplane.yaml
  example/30-worker.yaml
  imagevector/images.yaml
  pkg/apis/azure/validation/controlplane_test.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/m, platform/azure

#1232 Bump github.com/gardener/gardener from v1.122.1 to v1.123.1
  example/20-crd-extensions.gardener.cloud_controlplanes.yaml
  go.mod
  go.sum
  pkg/controller/controlplane/actuator.go
  pkg/controller/controlplane/actuator_test.go
  pkg/controller/controlplane/add.go
  pkg/controller/healthcheck/add.go
  test/integration/backupbucket/helper_test.go
  test/integration/healthcheck/test.go
Labels: kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, size/l, platform/azure

#1242 force vmo migration
  pkg/controller/infrastructure/infraflow/ensurer.go
  pkg/features/features.go
Labels: area/control-plane, kind/enhancement, reviewed/ok-to-test, reviewed/lgtm, size/xs, platform/azure
